Task4. 2023년 1월 1일부터 2023년 12월 31일까지의 날짜 범위를 생성하고, 이 날짜 범위에서 매월 첫 번째 날만 포함하는 데이터프레임을 작성하세요.

In [6]:
import numpy as np
import pandas as pd

dates = pd.date_range('2023-01-01', '2023-12-31', freq='MS')
print(dates)

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01', '2023-10-01', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='MS')

Task5. 2020년부터 2025년까지의 분기별 기간 범위를 생성하고, 각 분기의 시작과 끝 날짜를 포함하는 데이터프레임을 작성하세요.

In [8]:

dates = pd.date_range('2020', '2025', freq='Q')
print(len(dates))  # 20행
df = pd.DataFrame(np.random.randn(20, 2),
                  index=dates,
                  columns=['Start','End'])
print(df)

20
               Start       End
2020-03-31  0.511965 -0.095530
2020-06-30  1.222290  0.085689
2020-09-30 -0.169289  0.581923
2020-12-31 -0.428487 -0.113105
2021-03-31 -0.559468 -1.374313
2021-06-30 -0.089046 -0.228130
2021-09-30 -0.536156 -0.299496
2021-12-31 -0.402120  2.214137
2022-03-31  0.611455  1.110047
2022-06-30 -1.714468 -0.199973
2022-09-30 -0.721720 -2.099644
2022-12-31  0.489504 -0.608469
2023-03-31  0.571833  0.020379
2023-06-30  0.885754  1.248811
2023-09-30 -0.021123 -0.023826
2023-12-31 -0.912007  0.482341
2024-03-31  1.158007  1.466071
2024-06-30 -0.879035  0.019448
2024-09-30  1.162636  0.344696
2024-12-31 -0.232848  1.625268

In [ ]:

dates = pd.date_range('2020', '2025', freq='Q')
print(len(dates))  # 20행
df = pd.DataFrame(np.random.randn(20, 2),
                  index=dates,
                  columns=['Start','End'])
print(df)

Task6. 0일부터 10일까지의 시간 범위를 12시간 간격으로 생성하고, 각 간격에 대해 누적 시간을 계산하여 데이터프레임을 작성하세요.

In [15]:
time_range = pd.date_range('2024-06-01','2024-06-11', freq='12h')
print(time_range)
data = {'time': 12}
df = pd.DataFrame(data, index=time_range)
acc_sum = df.resample('12h').sum()
print(acc_sum)

DatetimeIndex(['2024-06-01 00:00:00', '2024-06-01 12:00:00',
               '2024-06-02 00:00:00', '2024-06-02 12:00:00',
               '2024-06-03 00:00:00', '2024-06-03 12:00:00',
               '2024-06-04 00:00:00', '2024-06-04 12:00:00',
               '2024-06-05 00:00:00', '2024-06-05 12:00:00',
               '2024-06-06 00:00:00', '2024-06-06 12:00:00',
               '2024-06-07 00:00:00', '2024-06-07 12:00:00',
               '2024-06-08 00:00:00', '2024-06-08 12:00:00',
               '2024-06-09 00:00:00', '2024-06-09 12:00:00',
               '2024-06-10 00:00:00', '2024-06-10 12:00:00',
               '2024-06-11 00:00:00'],
              dtype='datetime64[ns]', freq='12H')
                     time
2024-06-01 00:00:00    12
2024-06-01 12:00:00    12
2024-06-02 00:00:00    12
2024-06-02 12:00:00    12
2024-06-03 00:00:00    12
2024-06-03 12:00:00    12
2024-06-04 00:00:00    12
2024-06-04 12:00:00    12
2024-06-05 00:00:00    12
2024-06-05 12:00:00    12
2024-06-06 00:00:00    12
2024-06-06 12:00:00    12
2024-06-07 00:00:00    12
2024-06-07 12:00:00    12
2024-06-08 00:00:00    12
2024-06-08 12:00:00    12
2024-06-09 00:00:00    12
2024-06-09 12:00:00    12
2024-06-10 00:00:00    12
2024-06-10 12:00:00    12
2024-06-11 00:00:00    12

Task7. 주어진 df 에서 특정 날짜 이후의 데이터를 필터링하세요.

In [17]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])

print(df.truncate(before='2022-01-03'))

        date  value
3 2022-01-04      4
4 2022-01-05      5

In [21]:
import numpy as np

date_range = pd.date_range(start='2022-01-01', periods=365, freq='D')
data = {'value': np.random.randint(50,100,365)}
df = pd.DataFrame(data, index=date_range)
print(df)
monthly_sum = df.resample('M').sum()
print(monthly_sum)

            value
2022-01-01     76
2022-01-02     95
2022-01-03     75
2022-01-04     63
2022-01-05     54
...           ...
2022-12-27     57
2022-12-28     70
2022-12-29     99
2022-12-30     57
2022-12-31     73

[365 rows x 1 columns]
            value
2022-01-31   2235
2022-02-28   2058
2022-03-31   2368
2022-04-30   2371
2022-05-31   2342
2022-06-30   2199
2022-07-31   2302
2022-08-31   2282
2022-09-30   2225
2022-10-31   2334
2022-11-30   2193
2022-12-31   2317

Task8. 주어진 df에서 월별로 데이터의 합계를 계산하세요.

In [23]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-15', '2022-02-01', '2022-02-15', '2022-03-01'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])
print(df)
df.set_index('date', inplace=True)
monthly_sum = df.resample('M').sum()
print(monthly_sum)

        date  value
0 2022-01-01      1
1 2022-01-15      2
2 2022-02-01      3
3 2022-02-15      4
4 2022-03-01      5
            value
date
2022-01-31      3
2022-02-28      7
2022-03-31      5

Task9. 주어진 데이터프레임에서 주말(토요일과 일요일) 데이터를 필터링하세요.

In [34]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-08', '2022-01-09'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
print(df)
dates = pd.date_range('2022-01-01','2022-01-09', freq='B')
print(dates)
week_day_df = pd.DataFrame(columns=['value'], index=dates)
print(week_day_df)
res = pd.merge(df, week_day_df, how='outer', indicator=True)
print(res)
res = res.query("_merge=='left_only'")
res = res.drop(columns=['_merge'])

            value
date
2022-01-01      1
2022-01-02      2
2022-01-03      3
2022-01-08      4
2022-01-09      5
DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07'],
              dtype='datetime64[ns]', freq='B')
           value
2022-01-03   NaN
2022-01-04   NaN
2022-01-05   NaN
2022-01-06   NaN
2022-01-07   NaN
  value      _merge
0     1   left_only
1     2   left_only
2     3   left_only
3     4   left_only
4     5   left_only
5   NaN  right_only
6   NaN  right_only
7   NaN  right_only
8   NaN  right_only
9   NaN  right_only

Task10. 주어진 df에서 분기별 데이터의 평균을 계산하세요.

In [ ]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])

df

Task11. 주어진 df에서 작업 일자(월요일부터 금요일)만 남기고 필터링하세요.

In [ ]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-08', '2022-01-09'],
    'value': [1, 2, 3, 4, 5, 6]
})
df['date'] = pd.to_datetime(df['date'])
df