Task1_0527. 4개의 Series를 결합하여 데이터프레임을 생성하여 출력하세요.
- 출력한 데이터프레임에서 추출하고 싶은 5개의 데이터를 인덱싱하여 출력
- null값을 3개 추가
- null값의 개수를 확인하고 삭제
- 2개의 데이터를 수정
- 1개의 행을 삭제

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(1)
id = np.arange(1,101)
i1 = pd.Series(id)
korean = np.random.randint(1,101, size=100)
k1 = pd.Series(korean)
math = np.random.randint(1,101, size=100)
m1 = pd.Series(math)
english = np.random.randint(1,101, size=100)
e1 = pd.Series(english)
df = pd.concat([i1,k1,m1,e1], axis=1)
df.rename(columns={0:'id',1:'국어',2:'수학',3:'영어'}, inplace=True)
print(df.head())
print("===========인덱싱================")
print(f'1번 국어점수 :{df.iloc[0,1]}') #id 1, 국어 38?
print(f"5번 영어점수 :{df.loc[4,'영어']}")
print(df.loc[2:3, '국어':'영어'])
print(df.iloc[1],'\n')
print(df.iloc[4],'\n')
print("===========null값 3개 추가============")
df.iloc[0,2] = np.nan
df.iloc[2,2] = np.nan
df.loc[3, '국어'] = np.nan
print(df.head())
print("===========null값 갯수 확인 및 삭제============")
print(df.isnull().sum())
dropped_df = df.dropna()
print(dropped_df.head())
print("===========3 data modify============")
df.iloc[0,2] = 100
df.iloc[2,2] = 100
df.loc[3, '국어'] = 100
print(df.head())
print("===========1 row delete===========")
df1 = df.drop(df.loc[1])
print(df1.head())

   id  국어  수학  영어
0   1  38   1  41
1   2  13  78  79
2   3  73   7  46
3   4  10  53  88
4   5  76  86  17
===========인덱싱================
1번 국어점수 :38
5번 영어점수 :17
   국어  수학  영어
2  73   7  46
3  10  53  88
id     2
국어    13
수학    78
영어    79
Name: 1, dtype: int64

id     5
국어    76
수학    86
영어    17
Name: 4, dtype: int64

===========null값 3개 추가============
   id    국어    수학  영어
0   1  38.0   NaN  41
1   2  13.0  78.0  79
2   3  73.0   NaN  46
3   4   NaN  53.0  88
4   5  76.0  86.0  17
===========null값 갯수 확인 및 삭제============
id    0
국어    1
수학    2
영어    0
dtype: int64
   id    국어    수학  영어
1   2  13.0  78.0  79
4   5  76.0  86.0  17
5   6   6.0  71.0  29
6   7  80.0   3.0  46
7   8  65.0  77.0  68
===========3 data modify============
   id     국어     수학  영어
0   1   38.0  100.0  41
1   2   13.0   78.0  79
2   3   73.0  100.0  46
3   4  100.0   53.0  88
4   5   76.0   86.0  17
===========1 row delete===========
   id     국어     수학  영어
0   1   38.0  100.0  41
1   2   13.0   78.0  79
3   4  100.0   53.0  88
4   5   76.0   86.0  17
5   6    6.0   71.0  29

In [ ]:
#ex
import numpy as np
import pandas as pd

# 데이터프레임 생성
id = np.arange(1, 1001)
i1 = pd.Series(id)
gender = np.random.randint(2, size=1000)
g1 = pd.Series(gender)
age = np.random.randint(1, 101, size=1000)
a1 = pd.Series(age)
region = np.random.randint(1, 11, size=1000)
r1 = pd.Series(region)
df = pd.concat([i1, g1, a1, r1], axis=1)
df.rename(columns={0: 'id', 1: 'gender', 2: 'age', 3: 'region'}, inplace=True)

# 데이터프레임에서 추출하고 싶은 5개의 데이터를 인덱싱하여 출력
print(df.iloc[[0, 1, 2, 3, 4]])

# null값을 3개 추가
df.loc[0, 'age'] = np.nan
df.loc[1, 'gender'] = np.nan
df.loc[2, 'region'] = np.nan

# null값의 개수를 확인하고 삭제
null_counts = df.isnull().sum()
print( null_counts,'\n')
df.dropna(inplace=True)
print(df.head(7))

# 2개의 데이터를 수정
df.loc[3, 'age'] = 50
df.loc[4, 'region'] = 5

# 1개의 행을 삭제
df.drop(index=5, inplace=True)

# 최종 데이터프레임 출력
print(df.head(7))

#나중에 리셋인덱스로 인덱스 초기화

Task2_0527. 학생별 성적 데이터셋으로 의미있게 데이터 셋을 수정하세요.(아래 사항 반영)
- S1 ~ S10은 평균 점수를 기준으로 1등급에서 10등급이고 등급간 점수 차는 5점
- 결시자가 국어 3명, 수학 2명 있음
- 영어, 수학의 평균 점수가 국어 대비 5점 낮음

In [ ]:
import pandas as pd
import numpy as np
df = np.random.randint(1,5,size=(10,5))
df=pd.DataFrame(df,index=['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10'],
               columns=['국어','영어','수학','과학','사회'])
df

- S1 ~ S10은 평균 점수를 기준으로 1등급에서 10등급이고 등급간 점수 차는 5점
- 결시자가 국어 3명, 수학 2명 있음
- 영어, 수학의 평균 점수가 국어 대비 5점 낮음

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(5)
df = np.random.randint(1,11,size=(10,5))
df=pd.DataFrame(df,index=['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10'],
               columns=['국어','영어','수학','과학','사회'])
#결시자반영
#국어3명
print(df)
df.iloc[0,0] = np.nan
df.iloc[3,0] = np.nan
df.iloc[8,0] = np.nan
print(df)
#수학
df.iloc[0,2] = np.nan
df.iloc[1,2] = np.nan
print(df)
#전체점수 산정
df2 = df*5+50
print(df2)
df2.describe()
#점수 수정
#영어 현재 73점 80점 맞춰야함 평균7점 총점 70점 필요
df2.loc['s3','영어'] = 80
df2.loc['s6','영어'] = 85
df2.loc['s9','영어'] = 80
print(df2)
df2.describe()
#수학
df2.loc['s4','수학'] = 80
df2.loc['s5','수학'] = 80
df2.loc['s7','수학'] = 80
df2.loc['s8','수학'] = 80
df2.loc['s10','수학'] = 80
df2.describe()

     국어  영어  수학  과학  사회
s1    4   7   7   1  10
s2    9   5   8   1   1
s3    8   2   6   8   1
s4    2   5   7   3  10
s5   10  10  10   2   3
s6    8   1   6   1   1
s7    5   5  10   4   3
s8    5   7  10   4   4
s9    3   2   6   8   5
s10   4   2   8   4   2
       국어  영어  수학  과학  사회
s1    NaN   7   7   1  10
s2    9.0   5   8   1   1
s3    8.0   2   6   8   1
s4    NaN   5   7   3  10
s5   10.0  10  10   2   3
s6    8.0   1   6   1   1
s7    5.0   5  10   4   3
s8    5.0   7  10   4   4
s9    NaN   2   6   8   5
s10   4.0   2   8   4   2
       국어  영어    수학  과학  사회
s1    NaN   7   NaN   1  10
s2    9.0   5   NaN   1   1
s3    8.0   2   6.0   8   1
s4    NaN   5   7.0   3  10
s5   10.0  10  10.0   2   3
s6    8.0   1   6.0   1   1
s7    5.0   5  10.0   4   3
s8    5.0   7  10.0   4   4
s9    NaN   2   6.0   8   5
s10   4.0   2   8.0   4   2
        국어   영어     수학  과학   사회
s1     NaN   85    NaN  55  100
s2    95.0   75    NaN  55   55
s3    90.0   60   80.0  90   55
s4     NaN   75   85.0  65  100
s5   100.0  100  100.0  60   65
s6    90.0   55   80.0  55   55
s7    75.0   75  100.0  70   65
s8    75.0   85  100.0  70   70
s9     NaN   60   80.0  90   75
s10   70.0   60   90.0  70   60
        국어   영어     수학  과학   사회
s1     NaN   85    NaN  55  100
s2    95.0   75    NaN  55   55
s3    90.0   80   80.0  90   55
s4     NaN   75   85.0  65  100
s5   100.0  100  100.0  60   65
s6    90.0   85   80.0  55   55
s7    75.0   75  100.0  70   65
s8    75.0   85  100.0  70   70
s9     NaN   80   80.0  90   75
s10   70.0   60   90.0  70   60

               국어          영어    수학         과학          사회
count    7.000000   10.000000   8.0  10.000000   10.000000
mean    85.000000   80.000000  80.0  68.000000   70.000000
std     11.547005   10.274023   0.0  13.165612   17.159384
min     70.000000   60.000000  80.0  55.000000   55.000000
25%     75.000000   75.000000  80.0  56.250000   56.250000
50%     90.000000   80.000000  80.0  67.500000   65.000000
75%     92.500000   85.000000  80.0  70.000000   73.750000
max    100.000000  100.000000  80.0  90.000000  100.000000

In [4]:
#ex

import pandas as pd
import numpy as np
df = np.random.randint(1,5,size=(10,5))
df=pd.DataFrame(df,index=['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10'],
               columns=['국어','영어','수학','과학','사회'])

#등급간 점수 차는 5점
for i in range(10):
    df.iloc[i] = 90 -i*5

#문제 순서 바꿔서!!
#영어, 수학의 평균 점수가 국어 대비 5점 낮음
#iloc[i,0] ->국어점수
for i in range(10):
    df.iloc[i, 1:3] = df.iloc[i,0] -5

#결시자가 국어 3명, 수학 2명 있음
a = df.copy()
a.iloc[7:,0] = np.nan #7,8,9번 국어 nan
a.iloc[8:,2] = np.nan #8,9번 수학 nan
a

       국어  영어    수학  과학  사회
s1   90.0  85  85.0  90  90
s2   85.0  80  80.0  85  85
s3   80.0  75  75.0  80  80
s4   75.0  70  70.0  75  75
s5   70.0  65  65.0  70  70
s6   65.0  60  60.0  65  65
s7   60.0  55  55.0  60  60
s8    NaN  50  50.0  55  55
s9    NaN  45   NaN  50  50
s10   NaN  40   NaN  45  45

Task3_0527. df1에서 결측값 처리 후 딕셔너리, 리스트로 변환하여 출력하세요.

In [ ]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, np.nan, 88, 90, 76],
    "English": [92, 85, 89, np.nan, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, np.nan]
})

print('null갯수: ', df1.isna().sum())
filled_df1 = df1.fillna(0)
print('null갯수: ', filled_df1.isna().sum())
df2 = filled_df1
df2 = df2.values
li = df2.tolist()
print(f'to list: {li}')
dict = df1.to_dict('list')
print(f'to dict: {dict}')

null갯수:  Name       0
Math       1
English    1
Science    0
History    1
dtype: int64
null갯수:  Name       0
Math       0
English    0
Science    0
History    0
dtype: int64
to list: [['Alice', 85.0, 92.0, 78, 88.0], ['Bob', 0.0, 85.0, 90, 92.0], ['Charlie', 88.0, 89.0, 95, 85.0], ['David', 90.0, 0.0, 85, 91.0], ['Eve', 76.0, 80.0, 89, 0.0]]
to dict: {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'], 'Math': [85.0, nan, 88.0, 90.0, 76.0], 'English': [92.0, 85.0, 89.0, nan, 80.0], 'Science': [78, 90, 95, 85, 89], 'History': [88.0, 92.0, 85.0, 91.0, nan]}

In [9]:
#ex

import numpy as np
import pandas as pd

df1 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, np.nan, 88, 90, 76],
    "English": [92, 85, 89, np.nan, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, np.nan]
})

df1.info()  #널값 확인후 판단 /describe()는 통계요약을 통한 판단 필요
print(df1.columns) #컬럼 확인하는 것도 중요

#숫자열에 대해 결측값을 각 열의 평균값으로 대체 / 평균값은 숫자형 자료만 가능
#결측치를 삭제하는 것이 언제나 옳은것이 아니다
#데이터의 형태에 따라 적절하게 선택
df2 = df1.copy()
columns = ['Math', 'English', 'Science', 'History']
for column in columns:
    df2[column].fillna(df2[column].mean(),inplace=True)
df2

#배열로 변환
array1 = df2.to_numpy()
array1 = df2.values

df2.to_dict(orient='list')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Math     4 non-null      float64
 2   English  4 non-null      float64
 3   Science  5 non-null      int64
 4   History  4 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 328.0+ bytes
Index(['Name', 'Math', 'English', 'Science', 'History'], dtype='object')

      Name   Math  English  Science  History
0    Alice  85.00     92.0       78     88.0
1      Bob  84.75     85.0       90     92.0
2  Charlie  88.00     89.0       95     85.0
3    David  90.00     86.5       85     91.0
4      Eve  76.00     80.0       89     89.0

In [11]:
#df1 데이터 프레임에서 숫자형 데이터 타입을 가진 열들만 선택
df2 = df1.copy()
for column in df2.select_dtypes(include=[np.number]).columns:
    df1[column].fillna(df2[column].mean(), inplace=True)

df2

      Name   Math  English  Science  History
0    Alice  85.00     92.0       78     88.0
1      Bob  84.75     85.0       90     92.0
2  Charlie  88.00     89.0       95     85.0
3    David  90.00     86.5       85     91.0
4      Eve  76.00     80.0       89     89.0

Task4_0527. df2에서 아래와 같이 데이터 필터링 및 정렬 후 배열, 딕셔너리, 리스트로 변환하여 출력하세요.
- Math 점수가 80 이상인 학생만 선택
- English 점수를 기준으로 내림차순 정렬

In [ ]:
import numpy as np
import pandas as pd

df2 = pd.DataFrame({

    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, 79, 88, 90, 76],
    "English": [92, 85, 89, 93, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, 84]
})

filtered_df2 = df2[df2['Math']>= 80]
print(df2[df2['Math']>= 80])
print("=======================")
filtered_df2_sorted = filtered_df2.sort_values('English',ascending=False)
print(filtered_df2_sorted)

      Name  Math  English  Science  History
0    Alice    85       92       78       88
2  Charlie    88       89       95       85
3    David    90       93       85       91
=======================
      Name  Math  English  Science  History
3    David    90       93       85       91
0    Alice    85       92       78       88
2  Charlie    88       89       95       85

In [ ]:
#ex

import numpy as np
import pandas as pd

df2 = pd.DataFrame({

    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Math": [85, 79, 88, 90, 76],
    "English": [92, 85, 89, 93, 80],
    "Science": [78, 90, 95, 85, 89],
    "History": [88, 92, 85, 91, 84]
})
#df2[df2['Math'] >= 80]  df2안에서 매쓰가 80이상인것이 true인 행 인덱스
#df2[0,2,3]
#.sort_values(by='English', ascending=False)

Task5_0527. df3에서 각 학생의 평균 점수 계산 후 배열, 딕셔너리, 리스트로 변환하여 출력하세요.

In [2]:
import numpy as np
import pandas as pd

df3 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice", "Bob", "Charlie", "David", "Eve"],
    "Subject": ["Math", "Math", "Math", "Math", "Math", "English", "English", "English", "English", "English"],
    "Score": [85, 79, 88, 90, 76, 92, 85, 89, 93, 80]
})

print(df3)
#학생별 평균구하는 방법
average_scores = df3.groupby("Name")["Score"].mean()

array_result = average_scores.to_numpy()

dict_result = average_scores.to_dict()

list_result = average_scores.tolist()

print("Array result:", array_result)
print("Dictionary result:", dict_result)
print("List result:", list_result)

      Name  Subject  Score
0    Alice     Math     85
1      Bob     Math     79
2  Charlie     Math     88
3    David     Math     90
4      Eve     Math     76
5    Alice  English     92
6      Bob  English     85
7  Charlie  English     89
8    David  English     93
9      Eve  English     80
Array result: [88.5 82.  88.5 91.5 78. ]
Dictionary result: {'Alice': 88.5, 'Bob': 82.0, 'Charlie': 88.5, 'David': 91.5, 'Eve': 78.0}
List result: [88.5, 82.0, 88.5, 91.5, 78.0]

In [14]:
#ex

import numpy as np
import pandas as pd

df3 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve", "Alice", "Bob", "Charlie", "David", "Eve"],
    "Subject": ["Math", "Math", "Math", "Math", "Math", "English", "English", "English", "English", "English"],
    "Score": [85, 79, 88, 90, 76, 92, 85, 89, 93, 80]
})

#과목별 평균을 해야한는 경우
df3.pivot_table(index='Name',columns='Subject',values='Score',aggfunc='mean')
df3_pivot = df3.pivot_table(index='Name',columns='Subject',values='Score',aggfunc='mean').reset_index()
df3_pivot.columns.name = None       #피봇으로 생기는 subject 컬럼제거
print(df3_pivot)

#array
array3 = df3_pivot.to_numpy()
print(array3, '\n')

#dictionary
dict3 = df3_pivot.to_dict('list')
print(dict3, '\n')

#list
list3 = df3_pivot.values.tolist()
print(list3)

      Name  English  Math
0    Alice       92    85
1      Bob       85    79
2  Charlie       89    88
3    David       93    90
4      Eve       80    76
[['Alice' 92 85]
 ['Bob' 85 79]
 ['Charlie' 89 88]
 ['David' 93 90]
 ['Eve' 80 76]]

{'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'], 'English': [92, 85, 89, 93, 80], 'Math': [85, 79, 88, 90, 76]}

[['Alice', 92, 85], ['Bob', 85, 79], ['Charlie', 89, 88], ['David', 93, 90], ['Eve', 80, 76]]

Task6_0527. df4에서 특정 열의 데이터 타입을 변환한 후 변환된 타입을 확인하세요.

In [ ]:
df4 = pd.DataFrame({
    'A': ['1', '2', '3', '4'],
    'B': ['5.1', '6.2', '7.3', '8.4'],
    'C': ['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01']
})

print(df4)
print(df4.A, type(df4.A))
alter_df4 = df4.astype({'A':'int32'})
print(alter_df4.A, type(alter_df4.A))
print(alter_df4.dtypes)

   A    B           C
0  1  5.1  2021-01-01
1  2  6.2  2021-02-01
2  3  7.3  2021-03-01
3  4  8.4  2021-04-01
0    1
1    2
2    3
3    4
Name: A, dtype: object <class 'pandas.core.series.Series'>
0    1
1    2
2    3
3    4
Name: A, dtype: int32 <class 'pandas.core.series.Series'>
A     int32
B    object
C    object
dtype: object

In [16]:
#ex
df4 = pd.DataFrame({
    'A': ['1', '2', '3', '4'],
    'B': ['5.1', '6.2', '7.3', '8.4'],
    'C': ['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01']
})

df4.info()

#int
df4['A'] = df4['A'].astype(int)
df4['B'] = df4['B'].astype(float)
df4['C'] = pd.to_datetime(df4['C'])

print(df4.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      object
 1   B       4 non-null      object
 2   C       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
A             int64
B           float64
C    datetime64[ns]
dtype: object

Task7_0527. df5에서 나이가 25 이상인 행을 출력하세요.

In [17]:
df5 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
})

print(df5)
print("=================")
print(df5[df5['Age'] >25])
print(df5['Age']> 25)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston
4      Eve   29      Phoenix
=================
    Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston
4    Eve   29      Phoenix
0    False
1     True
2    False
3     True
4     True
Name: Age, dtype: bool