Task1_0510. try ~ except, try ~ except ~ finally, try ~ except ~else, try ~ except ~else ~finally 4가지 예외 처리가 필요한 경우에 대해서 코딩을 수행하세요.

In [ ]:
try:
    a = int(input("enter a integer: "))
    print(a)
except ValueError:
    print("정수를 입력해주세요!")

enter a integer: a
정수를 입력해주세요!

In [ ]:
try:
    a = int(input("enter a integer: "))
    print(a)
except ValueError:
    print("정수를 입력해주세요!")
finally:
    print("program ended!")

enter a integer: a
정수를 입력해주세요!
program ended!

In [ ]:
try:
    a = int(input("enter a integer: "))
except ValueError:
    print("정수를 입력해주세요!")
else:
    print("No error")
    print(a)

enter a integer: 1
No error
1

In [ ]:
try:
    a = int(input("enter a integer: "))
except ValueError:
    print("정수를 입력해주세요!")
else:
    print("No error")
    print(a)
finally:
    print("program ended!")

enter a integer: 1
No error
1
program ended!

Task2_0510. 리스트 ['52','273','32','문자','103']에서 숫자 부분만 출력하세요(예외 처리 수행)

In [ ]:
li =  ['52','273','32','문자','103']
try:
    res = []
    for i in li:
        if int(i):
            res.append(i)
    print(res)
except:
    res = []
    for i in li:
        if i.isdigit():
            res.append(i)
    print("error occurred!")
    print(res)

['52', '273', '32', '103']

In [ ]:
#ex
li =  ['52','273','32','문자','103']
result = []
for i in li:
    try:
        result.append(int(i))
    except:
        pass
print(result)

[52, 273, 32, 103]

Task3_0510. 두가지 시나리오를 예외처리를 하여 코드 작업을 수행하세요
- 정수를 입력하면 > '예외 발생하지 않음' > '프로그램 종료'
- 정수를 입력하지 않으면 > '정수 아님' > '프로그램 종료'

In [ ]:
try:
    i = int(input('enter a integer: '))
except:
    print('not integer!')
else:
    print('No error!')
    print(i)
finally:
    print('program ended~')

enter a integer: a
not integer!
program ended~

Task4_0510. 생성자만으로 구성된 클래스를 작성하고 객체 3개를 만들어서 결과를 출력하세요.

In [ ]:
class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f"이름은 {self.name}이고 나이는 {self.age}입니다.")
a = Person('kim',30)
b = Person('alice', 20)
c = Person('bob', 25)

이름은 kim이고 나이는 30입니다.
이름은 alice이고 나이는 20입니다.
이름은 bob이고 나이는 25입니다.

In [ ]:
#ex
class Test:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        print(a+b)

obj1 = Test(1,2)
obj2 = Test(1,5)
obj3 = Test(1,8)

3
6
9

Task5_0510. 생성자, 메소드를 모두 포함하는 클래스를 작성하고 객체 3개를 만들어서 결과를 출력하세요

In [ ]:
class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def print(self):
        return(f"이름은 {self.name}이고 나이는 {self.age}입니다.")
a = Person('kim',30)
b = Person('alice', 20)
c = Person('bob', 25)
print(a.print())
print(b.print())
print(c.print())

이름은 kim이고 나이는 30입니다.
이름은 alice이고 나이는 20입니다.
이름은 bob이고 나이는 25입니다.

In [ ]:
#ex
class MyCar:
    def __init__(self, name, color='white', price=2000):
        self.name= name
        self.color = color
        self.price = price
    def car_sound(self):
        if self.price > 15000:
            print('booboo')
        elif self.price > 10000:
            print('boo')
        else:
            print('bb')

a = MyCar('avante')
b = MyCar('ferrari', 'red', 17000)
c = MyCar('benz', 'black', 11000)

a.car_sound()
b.car_sound()
c.car_sound()

bb
booboo
boo

Task6_0510. 여러개의 음식을 주문할 수 있는 주문 시스템을 작성하세요.(클래스 활용 - 객체 지향)