Task1_0507. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.

strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')

In [22]:
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
print(sorted(strings, key=lambda x: len(set(x)),reverse=True))

['bar', 'ca', 'ababa', 'a', 'aaaa']

Task2_0507. a,b 변수와 연산자를 입력하면 사칙연산을 수행하는 코드를 작성하세요.(eval 사용하는 경우와 안하는 경우)

In [23]:
#eval사용
expression = input("계산할 수식을 입력하세요: ")
result = eval(expression)
print(f"계산 결과: {result}")

계산할 수식을 입력하세요: 5+5
계산 결과: 10

In [24]:
#eval 미사용
def calc(a, b, operand):
    if operand == '+':
        print(a + b)
    elif operand == '-':
        print(a - b)
    elif operand == '*':
        print(a * b)
    else:
        print(a / b)
calc(10,2,'+')
calc(10,2,'-')
calc(10,2,'*')
calc(10,2,'/')

12
8
20
5.0

In [34]:
sentence = input("계산을 원하는 식을 입력하세요: ")
operands = ['+', '-', '*', '/']
result = []
for i in operands:
    if i in sentence:
        if i == '+':
            print(int(sentence.split(i)[0]) + int(sentence.split(i)[1]))
        elif i == '-':
            print(int(sentence.split(i)[0]) - int(sentence.split(i)[1]))
        elif i == '*':
            print(int(sentence.split(i)[0]) * int(sentence.split(i)[1]))
        else:
            print(int(sentence.split(i)[0]) / int(sentence.split(i)[1]))

계산을 원하는 식을 입력하세요: 5*2
10

Task3_0507. list1에 대해서 아래와 같이 출력하는 코드를 작성하세요.

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.\
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.\
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.\
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.\
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.\
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

In [25]:
list1 = ['김부장', '이차장', '김과장','이대리', '오사원', '김인턴' ]
for idx, v in enumerate(list1,1):
    print(f"인사평가 {idx}번째 해당자는 {v}입니다. 회의실A로 오시기 바랍니다.")

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

Task4_0507. 주어진 문자열 리스트의 요소들을 대문자로 변환하세요.
words = ["hello", "world", "python", "map"]

In [2]:
words = ["hello", "world", "python", "map"]
result = list(map(lambda x: x.upper(), words))
print(result)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

Task5_0507. 주어진 리스트에서 'p'로 시작하는 단어만 필터링하세요.

words = ["python", "is", "powerful", "programming", "language", "pandas"]

In [3]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]
result = list(filter(lambda x : x[0]=='p', words))
print(result)

['python', 'powerful', 'programming', 'pandas']

Task6_0507. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(2가지 방법)

In [4]:
list = [0,1,2,3,4,5,6]
#del
del list[2]
print(list)
#pop
list = [0,1,2,3,4,5,6]
list.pop(2)
print(list)

[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]

Task7_0507. 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요.

[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]\
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]\
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [11]:
result = zip([1,2,3],[4,5,6])
print([i for i in result])
result = zip([1,2,3],[4,5,6], [7,8,9])
print([i for i in result])
result = zip('abc','def')
print([i for i in result])

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

Task8_0507. url에서 호스트 도메인(news.naver.com)을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [14]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
words = url.split('/')
print(f"Host domain: {words[2]}")

Host domain: news.naver.com