Task1_0508. title() 함수를 사용하지 않고 동일한 결과를 출력하세요.

In [ ]:
#Q.영어 이름을 적으면 앞에 글자를 대문자로 바꾸어 주는 프로그램
#단 중간에 한칸씩 띄어주어야 함 ex) kim dong wan

name = input("영어 이름을 적어주세요: ")
name = name.strip().split()
result = []
for i in name:
    result.append(i[0].upper()+i[1:])
print(' '.join(result))

영어 이름을 적어주세요: kim sung hyun
Kim Sung Hyun

In [ ]:
name = input("영어 이름을 적어주세요: ")
name = name.strip().split()
result = []
for i in name:
    result.append(i.capitalize())
print(' '.join(result))

영어 이름을 적어주세요: kim sung hyun
['kim', 'sung', 'hyun']
['Kim', 'Sung', 'Hyun']
Kim Sung Hyun

In [ ]:
#ex
# Task1_0508. title() 함수를 사용하지 않고 동일한 결과를 출력하세요.
# w/o .title()
# 단 중간에 한깐씩 띄워주어야 함 ex) kim dong wan
# choi hwan wook ====> Choi Hwan Wook


in_name=input("이름을 영문으로 입력해주세요: ").lower()
inname_split=[]; inname_split=in_name.strip().split(" ")
for i in inname_split:
  k=0
  for j in i:
    if k == 0:
      print(j.upper(),end="")
    else: print(j,end="")
    k += 1
  print(" ",end="")

In [ ]:
#ex
a = input("이름을 영어로 입력하세요.")

b=a.strip().split(" ")
e =""

for i in range(len(b)):
    c = list(b[i])

    c[0] = c[0].upper()
    d = "".join(c)
    c = []
    e = e + d + " "
print(f"당신의 이름을 바꾸면 {e}입니다.")

Task2_0508. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.

a::b::c

In [ ]:
list1 =  ['a','b','c']
print('::'.join(list1))

a::b::c

Task3_0508. 다음을 수행하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 숫자로만 이루어져 있는지 확인합니다.
- 만약 숫자로만 이루어져 있다면, 그 숫자를 정수로 변환하여 100을 더한 결과를 출력합니다.
- 숫자가 아닌 문자가 포함되어 있다면, 사용자에게 숫자만 입력하라는 메시지를 출력합니다.
- 연산이 수행이 완료될 때까지 반복하고 수행이 완료되면 break 합니다.

In [ ]:
while 1:
    string = input('문자열을 입력하세요: ')
    if string.isdigit():
        print(int(string) + 100)
        break
    else:
        print("숫자만 입력해주세요")

문자열을 입력하세요: 1g
숫자만 입력해주세요
문자열을 입력하세요: 10
110

In [ ]:
#other  ?
while True:
  try:
    a = input("문자열을 입력하세요. : ")
    a1 = a.isdigit()
    if a1 == True:
        print(f"{int(a)+100}")
        break
    else :
        print("숫자만 입력해주세요.")
  except :
        print("")

Task4_0508. 문자와 숫자로만 구성된 아이디만 유효한 규칙을 만들려고 한다. 아래 사항을 참조하여 프로그램을 작성하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 알파벳과 숫자로만 이루어져 있는지 확인합니다.
- 만약 조건을 만족한다면 "유효한 아이디입니다"라고 출력합니다.
- 그렇지 않다면, "아이디는 알파벳과 숫자만 포함할 수 있습니다"라고 메시지를 출력하고 다시 입력하도록 한다.

In [ ]:
while 1:
    string = input('문자열을 입력하세요: ')
    if string.isalnum():
        print("유효한 아이디입니다.")
        break
    else:
        print("아이디는 알파벳과 숫자만 포함할 수 있습니다")

문자열을 입력하세요: dks!
아이디는 알파벳과 숫자만 포함할 수 있습니다
문자열을 입력하세요: dk12
유효한 아이디입니다.

Task5_0508. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요.\
list = []
for i in range(0,20,2):\
    list.append(i*i)\
print(list)

In [ ]:
#리스트 컴프리헨션
print([i*i for i in range(0,20,2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
#map, lambda
print(list(map(lambda x:x*x,[i for i in range(0,20,2)])))

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
#ex
print(list(map(lambda x: x*x, range(0,20,2))))

Task6_0508. 유닉스 타임스탬프를 받아서 해당 시간을 datetime.datetime 객체로 변환하고, 그 결과를 출력하는 사용자 함수를 작성하여 임의의 타임스탬프를 입력하여 결과를 출력하세요.

In [1]:
import time
from datetime import datetime

def transform_datetime(unix_time):
    return datetime.fromtimestamp(unix_time)

print(transform_datetime(1715152382.5411751))
print(transform_datetime(time.time()))

2024-05-08 07:13:02.541175
2024-05-09 01:07:56.673906

In [2]:
#ex

def transform_datetime(unix_time):
    return datetime.fromtimestamp(unix_time)
ts = float(input('timestamp :'))
result = transform_datetime(ts)
print(result)

timestamp :1715152382.5411751
2024-05-08 07:13:02.541175

Task7_0508. datetime 객체를 문자열로 변환하는 사용자 함수를 작성하여 datetime 객체를 "YYYY-MM-DD HH:MM:SS" 형식의 문자열로 변환하고 출력하세요.

In [3]:
from datetime import datetime

def datetime_to_str(datetime_obj):
    return datetime_obj.strftime('%Y-%m-%d %H:%M:%S')

datetime_obj = datetime.now()
print(datetime_to_str(datetime_obj))

2024-05-09 01:16:50

In [6]:
#ex
import datetime
def datetime_to_string(dt):
    return dt.strftime('%Y-%m-%d %H:%M:%S')

dt = input('datetime을 입력하세요> ')
#dt = datetime.datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S')
s = datetime_to_string(dt)
print(s)

datetime을 입력하세요> 2024-05-08 07:29:53.467502

AttributeError: 'str' object has no attribute 'strftime'

Task8_0508. 올해 경과된 날짜수 계산하세요.

In [13]:
#ex. 오늘은 올해 몇일째 되는 날인가?
import time

t = time.time()
print(t)
t1 = time.localtime(t)
print(t1)
print(f"올해 경과된 날짜수는 {t1[-2]}일 입니다.")
print(t1.tm_yday)

1715218102.5406513
time.struct_time(tm_year=2024, tm_mon=5, tm_mday=9, tm_hour=1, tm_min=28, tm_sec=22, tm_wday=3, tm_yday=130, tm_isdst=0)
올해 경과된 날짜수는 130일 입니다.
130

In [11]:
import datetime

today = datetime.date.today()
print(today)
start_day = datetime.date(2024, 1, 1)
print(start_day)
delta = today - start_day
print(delta.days)
print(delta)

2024-05-09
2024-01-01
129
129 days, 0:00:00

In [8]:
#ex
import datetime

today = datetime.date.today()
print(today)
start_day = datetime.date(today.year, 1, 1)
print(start_day)
delta = today - start_day
print(f"{delta.days}일")

2024-05-09
2024-01-01
129일

Task9_0508. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [ ]:
import datetime

now = datetime.datetime.now()
print(now,type(now))
formatted = now.strftime("%Y-%m-%d 오늘은 %A 입니다.")
print(formatted)

2024-05-08 07:29:53.467502 <class 'datetime.datetime'>
2024-05-08 오늘은 Wednesday 입니다.

In [14]:
#ex - 딕셔너리 사용
import time
from datetime import datetime

wdays = {'Mon':'월요일', 'Tue':'화요일', 'Wed':'수요일', 'Thu':'목요일', 'Fri':'금요일', 'Sat':'토요일', 'Sun': '일요일'}

now  = datetime.now()
date = now.date()
wday = now.strftime("%a")

print(f'{date} 오늘은 {wdays[wday]}입니다.')

2024-05-09 오늘은 목요일입니다.

In [ ]:
#ex -딕셔너리, 타임존 사용
import datetime
import time
import pytz

s = time.time()
today = time.strftime('%A', time.localtime(time.time()))
tz = pytz.timezone('Asia/Seoul')
now = datetime.datetime.now(tz)
now_time = now.strftime('%Y-%m-%d')

day = {'Sunday':'일요일', 'Monday': '월요일', 'Tuesday': '화요일', 'Wednesday':'수요일', 'Thursday':'목요일', 'Friday':'금요일', 'Saturday': '토요일'}

for key, value in day.items():
    if value == day[today] :
        print(f"{now_time} 오늘은 {day[today]}입니다.")
        break
else:
    print("")

In [ ]:
#ex - 리스트 인덱스 사용
from datetime import datetime

def week(dt):
    # 요일을 문자열로 매핑
    days = ["월요일", "화요일", "수요일", "목요일", "금요일", "토요일", "일요일"]
    # 날짜 형식 지정
    formatted_date = dt.strftime("%Y-%m-%d")
    # 요일 가져오기
    day = days[dt.weekday()]
    # 형식에 맞춰 문자열 반환
    return f"{formatted_date} 오늘은 {day}입니다."

# 현재 날짜와 시간 가져오기
current_datetime = datetime.now()

print(week(current_datetime))

In [ ]:
#ex - localtime() 사용
import time

weekdays = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']
t = time.localtime()
today = f'{t.tm_year}-{t.tm_mon}-{t.tm_mday}'
week = weekdays[t.tm_wday]
# print('%s 오늘은 %s입니다' %(today, week))
print(f'{today} 오늘은 {week}입니다.')

Task10_0508. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1ms=0.001초)

In [ ]:
import datetime

start = datetime.datetime.now()
total = 0
for i in range(1, 1000001):
    total += i
print(total)
end = datetime.datetime.now()
diff = end - start
print(diff, type(diff))
print(f'프로그램 실행시간은 {round(diff.microseconds/1000)}ms입니다.')

500000500000
0:00:00.132023 <class 'datetime.timedelta'>
프로그램 실행시간은 132ms입니다.

In [15]:
#ex
import time

start = time.time()
sn = sum(range(1, 1000001))
end = time.time()
print(f"1에서 백만까지 더하는데 걸린 시간 : {(end - start):.3f}초")

minute, second = divmod((end-start), 60)
h, m = divmod(minute, 60)
print(f'{int(h)}시간 {int(minute)}분 {second:.3f}초')

1에서 백만까지 더하는데 걸린 시간 : 0.021초
0시간 0분 0.021초

In [16]:
#ex
import time

t1 = time.time()
t2 = 0
result = 0

for i in range(1000000):
    result += i+1
else:
    t2 = time.time()

print(f'백만까지 더한 값: {result}\n걸린 시간: {round((t2-t1)*1000)} (ms)')

백만까지 더한 값: 500000500000
걸린 시간: 158 (ms)