Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

max_num = max(numbers)
min_num = min(numbers)
print(f'최대값: {max_num}')
print(f'최대값: {min_num}')

최대값: 87
최대값: 4

Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
sum = 0
for i in numbers:
    sum = sum + i

num = len(numbers)

print(f'요소의 합계: {sum}')
print(f'평균은 {sum / num}')

요소의 합계: 378
평균은 37.8

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']\
target = 'apple'

In [1]:
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']
target = 'apple'

'''
아이디어. items 리스트 크기의 idx 리스트를 만들고 두 리스트를 합쳐 딕셔너리 형태로 만든다.
타겟 항목의 동일한 키를 가지는 값을 반환하여 리스트로 만든다.
'''

idx_list = []

items_len = len(items)

for i in range(0, items_len):
    idx_list.append(i)

temp_dic = {k: v for k, v in zip(idx_list, items)}
print('병합후 인덱스 위치 반영한 딕셔너리: ', temp_dic)
print('특정요소: ', target)
print('특정요소가 등장하는 인덱스 리스트: ', [k for k, v in temp_dic.items() if v == target])

병합후 인덱스 위치 반영한 딕셔너리:  {0: 'apple', 1: 'banana', 2: 'cherry', 3: 'apple', 4: 'cherry', 5: 'apple'}
특정요소:  apple
특정요소가 등장하는 인덱스 리스트:  [0, 3, 5]

In [4]:
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']
target = 'apple'

#아이디어: 아이템의 항목을 숫자로 전환하여 리스트에 저장

index_list = []
for i in range(len(items)):
    if items[i] == target:
        index_list.append(i)
print(index_list)

[0, 3, 5]

Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.

예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

In [3]:
#set사용
original_list = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
output_set = set(original_list)
output_list = list(output_set)
output_list.sort()
print(f'원본 리스트 : {original_list}')
print(f'중복제거 리스트 : {output_list}')

원본 리스트 : ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
중복제거 리스트 : ['a', 'b', 'c', 'd', 'e']

In [5]:
original_list = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
'''
인덱스 리스트를 만들어주고 두 리스트를 딕셔너리로 만든후
키만 리스트로 출력
'''
idx_list = [i for i in range(len(original_list))]
temp_dic = {k: v for k, v in zip(original_list, idx_list)}
print(temp_dic)
print(list(temp_dic.keys()))

{'a': 1, 'b': 2, 'c': 5, 'd': 6, 'e': 8}
['a', 'b', 'c', 'd', 'e']

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [2]:
o_list =  [1, 2, 3, 4, 5]
k = 7
print(f'K 횟수: {k}' )
result_list = []
o_list_len = len(o_list)

if k > o_list_len:
    k = k % o_list_len

left_list = o_list[-k:]
right_list = o_list[:(o_list_len - k)]

result_list = left_list + right_list
print(f'원본 리스트 : {o_list}')
print(f'결과 리스트 : {result_list}')

K 횟수: 7
원본 리스트 : [1, 2, 3, 4, 5]
결과 리스트 : [4, 5, 1, 2, 3]