제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x = 5
if x > 5:
    print("x는 5보다 큽니다.")
elif x == 5:
    print("x는 5입니다.")
else:
    print("x는 5보다 작습니다.")

x는 5입니다.

In [ ]:
x = 10
if x >= 5:
    print("x는 5보다 크거나 같습니다.")
else:
    print("x는 5보다 작습니다.")

x는 5보다 크거나 같습니다.

In [ ]:
#각 조건이 서로 독립적일때 if문을 연속해서 사용
x = 10
y = 5

if x > 5:
    print("x는 5보다 큽니다.")

if y < 10 :
    print("y는 10보다 작습니다.")

if x > y:
    print("x는 y보다 큽니다.")

x는 5보다 큽니다.
y는 10보다 작습니다.
x는 y보다 큽니다.

In [ ]:
x = 10
y = 5
if x > 5:
    if y >= 3:
        print('x는 5보다 크고 y는 3보다 크거나 같습니다.')
    else:
        print('x는 5보다 크고 y는 3보다 작습니다.')
else:
    print('x는 5보다 작거나 같습니다.')

x는 5보다 크고 y는 3보다 크거나 같습니다.

In [ ]:
#Q. 이중 조건문을 사용하여 코드를 작성하세요.(조건 내용은 자유. 단, if문 if~elif~else 중첩하여 사용)
x = int(input("Enter a Number: X = "))
y = int(input("Enter a Number: Y = "))

if x % 2 == 0:
    print("x는 짝수이다.")
    if y % 2 == 1:
        print("x는 짝수이고 y는 홀수이다.")
    else:
        print("x와 y는 둘 다 짝수이다.")
elif x == 0:
    print("x는 0이다.")
else:
    print("x는 홀수이다.")

Enter a Number: X = 0
Enter a Number: Y = 3
x는 짝수이다.
x는 짝수이고 y는 홀수이다.

In [ ]:
#70점 이상만 채점
score = int(input('enter a score: '))

if score < 70:
    print("점수가 70점 미만입니다. 채점을 하지 않습니다.")
else:
    if score > 90:
        print('A')
    elif score > 80:
        print('B')
    else:
        print('C')

enter a score: 60
점수가 70점 미만입니다. 채점을 하지 않습니다.

In [ ]:
listdata = ['a', 'b', 'c']

if 'a' in listdata:
    print('A in listdata')
if 'b' in listdata:
    print('B in listdata')
if 'c' in listdata:
    print('C in listdata')

A in listdata
B in listdata
C in listdata

In [ ]:
listdata = ['a', 'b', 'c']

for i in listdata:
    if i in listdata:
        print(f'{i} in listdata')

a in listdata
b in listdata
c in listdata

In [ ]:
# Q. 돈이 10000원 이상있으면 택시를 타고, 돈이 없으면 걸어간다.를 만족하는 조건문을 작성하세요

money = int(input('현재 돈을 얼마 가지고 있나요? :'))

if money >= 10000:
    print("돈을 1만원이상 가지고 있어 택시를 타고 간다.")
else:
    print("돈이 없어 걸어간다.")

현재 돈을 얼마 가지고 있나요? :120000
돈을 1만원이상 가지고 있어 택시를 타고 간다.

In [ ]:
#Q. 조건부 표현식을 한줄의 조건문으로 작성하세요
score = 50
message = ["sucess" if score >=60 else "failure"]
print(message)

['failure']

In [ ]:
#Q. 수입과 지출금액을 비교해서 수입이 많으면 저축 증가, 반대면 빚이 증가하는 프로그램 작성

income = int(input("Enter a income: "))
spend = int(input("Enter a spend: "))

if income > spend:
    print("저축 증가")
elif income < spend:
    print("빚증가")
else:
    print("똔똔")

Enter a income: 1000
Enter a spend: 1000
똔똔

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
#for 루프는 시퀀스(리스트, 튜플, 문자열 등)나 반복 가능한 객체(iterable)의 요소를 순회

for i in range(5):
    print(i, end=' ')
print('\n')
count = 0
while count < 5:
    print(count, end=' ')
    count += 1

0 1 2 3 4

0 1 2 3 4

In [ ]:
#리스트를 순회하는 예
for i in [1,2,3,4,5]:
    print(i, end=' ')

print('\n')

for char in "hello":
    print(char, end=', ')

1 2 3 4 5

h, e, l, l, o,

In [ ]:
#while 루프는 주어진 조건이 참인 동안 코드 블록을 반복
#조건이 거짓이 되면 루프가 종료

count = 0
sum = 0
while count < 5:
    sum += count
    print(sum, end=' ')
    count += 1

0 1 3 6 10

In [ ]:
#Q. d에서 반복문을 사용하여 97 98 99 을 출려갛세요
d = {'a':97, 'b':98, 'c':99}
for k, v in d.items():
    print(v, end=' ')

97 98 99

In [ ]:
#Q. d에서 반복문을 사용하여 97 98 99 을 출려갛세요
d = {'a':97, 'b':98, 'c':99}
for key in d:
    print(d[key], end=' ')

97 98 99

In [ ]:
print(d.keys())
print(type(d.keys()))

dict_keys(['a', 'b', 'c'])
<class 'dict_keys'>

In [ ]:
print(d.values())
print(type(d.values()))

dict_values([97, 98, 99])
<class 'dict_values'>

dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [ ]:
d['b'] = 100
print(d)
print(d.values())

{'a': 97, 'b': 100, 'c': 99}
dict_values([97, 100, 99])

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [ ]:
for i in range(5):
    if i  == 3:
        break
    print(i, end=' ')
print('\n')

for i in range(5):
    if i == 3:
        continue
    print(i, end=' ')

0 1 2

0 1 2 4

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i, end=' ')
print('\n')
for i in range(10):
    if i % 2 == 0:
        continue
    print(i, end=' ')

0 1 2 3 4

1 3 5 7 9

In [ ]:
#for 또는 while루프에 else절을 사용하면, 루프가 정상적으로 완료된후 실행
for i in range(5):
    print(i, end=' ')
else:
    print("루프가 완료되었습니다.", '\n')

count = 0
while count < 5:
    print(count, end=' ')
    count += 1
else:
    print("루프가 완료되었습니다.")

In [ ]:
#break문을 사용하여 루프를 중단하면 else절은 실행되지 않음
for i in range(5):
    if i == 3:
        print(f'{i}에서 루프를 중단합니다.')
        break
else:
    print('루프가 정상적으로 완료되었습니다.')

3에서 루프를 중단합니다.

##조건과 반복을 결합

In [ ]:
#10미만의 홀수만 출력
for i in range(10):
    if i % 2 == 1:
        print(i,end=' ')

1 3 5 7 9

In [ ]:
#Q. 1~10범위의 정수에서 1부터 5까지만 출력하세요
for i in range(1, 11):
    if i == 6:
        break
    print(i, end=' ')

1 2 3 4 5

In [ ]:
#Q. numbers 리스트에서 15, 20, 25를 출력하세요(for문과 if 조건 사용 필수 )
numbers = [5, 15, 6, 20, 7,25]

for i in numbers:
    if i % 5 == 0 and i > 10: #if i>= 15:
        print(i, end=' ')

15 20 25

In [ ]:
#특정 조건을 만족할 때까지 반복
count = 0
while 1:
    count += 1
    if count > 5:
        break
    print(count)
print("루프가 종료됨")

1
2
3
4
5
루프가 종료됨

In [ ]:
#Q. 리스트에서 특정값 찾기
numbers = [1,2,3,4,5]
target = 3

for i in numbers:
    if i == target:
        print(f'현재값{i} 찾음, 루프 벗어남')
        break
    else:
        print(f'현재값{i} 타겟 찾지 못함')
else:
    print('검색완료함')

현재값1 타겟 찾지 못함
현재값2 타겟 찾지 못함
현재값3 찾음, 루프 벗어남

In [ ]:
#Q. 리스트에서 특정값 찾기
numbers = [1,2,3,4,5]
target = 6

for i in numbers:
    if i == target:
        print(f'현재값{i} 찾음, 루프 벗어남')
        break
    else:
        print(f'현재값{i} 타겟 찾지 못함')
else:
    print(f'{target}찾지 못함, 검색완료함')

현재값1 타겟 찾지 못함
현재값2 타겟 찾지 못함
현재값3 타겟 찾지 못함
현재값4 타겟 찾지 못함
현재값5 타겟 찾지 못함
6찾지 못함, 검색완료함

In [ ]:
#Q. 1 ~20사이의 정수에서 10보다 작은 홀수만 출력
for i in range(1, 21):
    if i < 10:
        if i % 2 == 1:
            print(i, end=' ')
    else:
        break

1 3 5 7 9

In [ ]:
#while ~ continue ~ break
#20보다 작은 정수에서 1 3 5 7 9만을 출력
a = 0
while a < 20:
    a += 1
    if a % 2 == 0:
        continue
    if a >=10:
        break
    print(a, end=' ')

1 3 5 7 9

In [ ]:
#Q. 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n값과 합을 구하세요 (while ~break)
count = 0
sum = 0
while 1:
    count += 1
    sum += count
    if sum > 1000:
        break
print(count, sum)

45 1035

In [ ]:
#참고 #Q. 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n값과 합을 구하세요 (while ~break)
x = 0
sum = 0
while sum < 1000:
    x += 1
    sum += x
print(x)
print(sum)

45
1035

In [ ]:
#Q.while 문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해보세요
count = 0
sum = 0
while count <= 1000:
    count += 1
    if count % 3 == 0:
        sum += count


print(sum)

166833

In [ ]:
#Q.while 문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해보세요
count = 0
sum = 0
while 1:
    if count % 3 == 0:
        sum += count
        if count > 1000:
            break
    count += 1

print(sum)

167835

In [ ]:
#Q.while 문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해보세요
count = 1
sum = 0
while 1:
    if count <= 1000:
        if count % 3 == 0:
            sum += count
        count += 1


print(sum)

KeyboardInterrupt:

In [ ]:
#Q.while 문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해보세요
count = 1
sum = 0
while count <= 1000:
    if count % 3 == 0:
        sum += count
    count += 1

print(sum)

166833

In [1]:
#Q.while 문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해보세요
count = 0
sum = 0
while 1:
    count += 1
    if count % 3 == 0:
        sum += count
        if count >= 1000:
            break
print(sum)
#1002번째가 계산됨

167835

In [2]:
count = 0
sum = 0
while 1:
    count += 1
    if count >= 1000:
        break
    if count % 3 == 0:
        sum += count
print(count, sum)

1000 166833

166836

In [ ]:
#Q.while 문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해보세요
count = 3
sum = 0
while count <= 1000:
    sum += count
    count += 3
print(sum)

166833

In [ ]:
#Q. 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성
num = int(input('enter a number: '))

if num % 2 == 0:
    print(f"{num} 은 짝수이다.")
else:
    print(f"{num} 은 홀수이다.")

enter a number: 3
3 은 홀수이다.

In [ ]:
#Q. 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성
while True:
    try:
        num = int(input('enter a number: '))
        if num % 2 == 0:
            print(f"{num} 은 짝수이다.")
        else:
            print(f"{num} 은 홀수이다.")
        break
    except ValueError:
        print("정수가 아닌 값이 입력되었어요. 정수를 입력하세요.")

enter a number: 2.5
정수가 아닌 값이 입력되었어요. 정수를 입력하세요.
enter a number: 3/3
정수가 아닌 값이 입력되었어요. 정수를 입력하세요.
enter a number: 2
2 은 짝수이다.

In [ ]:
#Q. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요.(ABC -> BCA)
string = input("enter a letters: ")
alter_string = string[1:] + string[0]
print(alter_string)

enter a letters: abc
bca

In [ ]:
#for ~ else 문
data = input('문자열을 입력: ')
for i in range(len(data)):
    if i == 0:
        continue
    print(data[i], end='')
else:                           #for문 완료시 수행문
    print(data[0])

문자열을 입력: asdf
sdfa

zip() 함수
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [ ]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
#Q. 두개의 리스트(이름과 성)를 사용하여 각 사람의 전체 이름을 생성하세요.
first_names = ["John", 'Jane', 'Corey', 'Travis']
last_names = ["Doe", "Smith", "Turner", "Williams"]

zipped =[first + " " + last for first, last in zip(first_names, last_names)]
print(zipped)

['John Doe', 'Jane Smith', 'Corey Turner', 'Travis Williams']

In [ ]:
#q. 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평균 점수를 계산하세요.
math_scores =[88,92,79,93,85]
english_scores =[90,92, 85,88,86]
avg = [(math + english) /2 for math, english in zip(math_scores, english_scores)]
print(avg)

[89.0, 92.0, 82.0, 90.5, 85.5]

In [ ]:
#Q. 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을 때, 상품명과 가격을 튜플로 묶어 출력하세요.
products = ["apple", "banana", "cherry"]
prices = [1.2, 0.5, 2.5]
for product, price in zip(products, prices):
    print(f'Produc: {product}, Price ${price}')

Produc: apple, Price $1.2
Produc: banana, Price $0.5
Produc: cherry, Price $2.5

In [ ]:
products = ["apple", "banana", "cherry"]
prices = [1.2, 0.5, 2.5]
print([f"product: {p}, price: {v}" for p, v in zip(products, prices)])

In [ ]:
products = ["apple", "banana", "cherry"]
prices = [1.2, 0.5, 2.5]
print([(p, v)for p, v in zip(products, prices)])

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 **균등 분포**로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 **정규 분포**에서 난수를 반환.

  선형대수, 미분, 적분, 통계 공부해야함

In [ ]:
import random

#0과 1사이의 난수 생성
print(random.random())
#1에서 10사이의 정수 반환(10포함)
print(random.randint(1, 10))
#리스트에서 무작위로 하나의 원소 선택
items = [1,2,3,4,5]
print(random.choice(items))
#리스트의 원소를 무작위로 섞기
random.shuffle(items)
print(items)
#정규분포난수 생성
mean = 0
std_dev = 1
print(random.gauss(mean, std_dev))

0.9485093438446103
2
1
[2, 3, 4, 5, 1]
-0.055462579610338104

In [ ]:
import random
male = ['철수','감돌', '로미오', '이몽룡','온돌']
random.shuffle(male)
male

['감돌', '이몽룡', '철수', '온돌', '로미오']

In [ ]:
from random import shuffle
male = ['철수','감돌', '로미오', '이몽룡','온돌']
shuffle(male)
male

['이몽룡', '감돌', '로미오', '철수', '온돌']