## Task1_0502. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.

In [ ]:
nums = input("숫자를 입력하세요: (ex. 10 10 공백으로 구분)")
num1 = int(nums.split(' ')[0])
num2 = int(nums.split(' ')[1])
if num1 % 2 == 0 and num2 % 2 == 0:
    print(num1 * num2)
elif num1 % 2 == 1 and num2 % 2 == 1:
    print(num1 + num2)
else:
    print("다시 입력하세요.")

숫자를 입력하세요: (ex. 10 10 공백으로 구분)5 5
10

Task2_0502. 현재 계절 구분 프로그램
- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [ ]:
import datetime

now = datetime.datetime.now()
month = now.month
print(month)
if 3 <= month <= 5:         #if month >=3 and month <=5
    print("지금은 봄입니다.")
elif 6 <= month <= 8:
    print("지금은 여름입니다.")
elif 9 <= month <= 11:
    print("지금은 가을입니다.")
else:
    print("지금은 겨울입니다.")

5
지금은 봄입니다.

In [ ]:
#예시답안
from datetime import datetime

today = datetime.now()
month = today.month

spring = [3,4,5]#이런식으로 준비

if month in spring:

Task3_0502. 1부터 99까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.

`1*99, 2*98 ...99*1`

In [ ]:
result = [i*(100-i) for i in range(1, 100)]
print(result)
print(max(result))

[99, 196, 291, 384, 475, 564, 651, 736, 819, 900, 979, 1056, 1131, 1204, 1275, 1344, 1411, 1476, 1539, 1600, 1659, 1716, 1771, 1824, 1875, 1924, 1971, 2016, 2059, 2100, 2139, 2176, 2211, 2244, 2275, 2304, 2331, 2356, 2379, 2400, 2419, 2436, 2451, 2464, 2475, 2484, 2491, 2496, 2499, 2500, 2499, 2496, 2491, 2484, 2475, 2464, 2451, 2436, 2419, 2400, 2379, 2356, 2331, 2304, 2275, 2244, 2211, 2176, 2139, 2100, 2059, 2016, 1971, 1924, 1875, 1824, 1771, 1716, 1659, 1600, 1539, 1476, 1411, 1344, 1275, 1204, 1131, 1056, 979, 900, 819, 736, 651, 564, 475, 384, 291, 196, 99]
2500

In [ ]:
#ex 입력값 없고 출력값만 있는 형태의 사용자 함수
def find_biggest_one():
    big_num = 0
    for i,j in zip(range(1,100), range(99,0,-1)):
        if i*j > big_num:
            big_num = i*j
    return big_num
print(find_biggest_one())

2500

In [ ]:
#ai에서 중요함
for i in range(99,0,-1):
    print(i,end=' ')

99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
numbers = [i for i in range(99,0,-1)]
print(numbers)

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
str_numbers = list(map(str(i), range(99,0,-1)))
print(str_numbers)

TypeError: 'str' object is not callable

In [ ]:
numbers = [str(i) for i in range(99,0,-1)]

In [ ]:
#example
max_value = 0
for i in range(1,100):
    if max_value >= (i*(100-i)):
        continue
    else:
        max_value = i*(100-i)
        print(f"{i}x{(100-i)}")
print(max_value)

1x99
2x98
3x97
4x96
5x95
6x94
7x93
8x92
9x91
10x90
11x89
12x88
13x87
14x86
15x85
16x84
17x83
18x82
19x81
20x80
21x79
22x78
23x77
24x76
25x75
26x74
27x73
28x72
29x71
30x70
31x69
32x68
33x67
34x66
35x65
36x64
37x63
38x62
39x61
40x60
41x59
42x58
43x57
44x56
45x55
46x54
47x53
48x52
49x51
50x50
2500

In [ ]:
#ex
n = 1
result = 0
while n <= 100:
    a = n*(100-n)
    if a > result:
        result = a
        n += 1
    else:
        n += 1
        continue
print(result)

2500

Task4_0502. [    ]을 채워서 아래의 출력과 같이 출력하세요.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]


# [[1,4,7],[2,5,8],[3,6,9]]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]
for i in numbers:
    if i % 3 == 1:
        output[0].append(i)
    elif i % 3 == 2:
        output[1].append(i)
    else:
        output[2].append(i)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
#ex
numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]
for num in numbers:
    output[(num-1)%3].append(num)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
#ex- 인덱스를 이용해 구현
numbers = [1,2,3,4,5,6,7,8,9]
groups = [numbers[i::3] for i in range(3)]
print(groups)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Task5_0502. 주어진 리스트에서 중복된 요소를 제거하고, 남은 요소만을 포함하는 새 리스트를 반환합니다. 순서는 유지해야 합니다.

input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]

In [ ]:
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]
s = set(input_list)
l = list(s)
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]
output = [input_list[0]]
for i in input_list[1:]:
    if i != output[-1]:
        output.append(i)
print(output)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#ex - 이 리스트에서만 가능한 코드
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]
for i in input_list:
    if input_list.count(i) > 1:
        input_list.remove(i)
print(input_list)

[1, 2, 3, 4, 5, 6, 7]

In [21]:
input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]
#순서유지 [1,2,6,3,7,4,5] 이런 답

def remove_duplicates(input_list):
    num = set() #빈 셋트 - 중복방지
    result = []
    for item in input_list:
        if item not in num:
            result.append(item)
            num.add(item)
    return result

print(remove_duplicates(input_list))

[1, 2, 6, 3, 7, 4, 5]

In [22]:
#ex
input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]

def remove_dup(input_list):
  num = []
  for item in input_list:
    if item not in num:
      num.append(item)
  return num

result=remove_dup(input_list)
print(result)

[1, 2, 6, 3, 7, 4, 5]

Task6_0502. 주어진 문자열을 모스 코드로 변환하는 함수를 작성하세요. 공백은 무시하고 알파벳만 변환하세요.

input_text = "Hello world"

In [ ]:
morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }
input_txt = "Hello world"
input_txt = input_txt.upper()
input_list = [i for i in input_txt]
print(input_list)
result = []
for i in input_list:
    if i in morse_code.keys():
        result.append(morse_code[i])
print(result)

['H', 'E', 'L', 'L', 'O', 'W', 'O', 'R', 'L', 'D']
['....', '.', '.-..', '.-..', '---', '.--', '---', '.-.', '.-..', '-..']

In [ ]:
def transform_morse(morse_code, input_txt):
    input_txt = input_txt.upper()
    input_list = [i for i in input_txt]
    result = []
    for i in input_list:
        if i in morse_code.keys():
            result.append(morse_code[i])
    return result

morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }
input_txt = "Hello world"

transform_morse(morse_code, input_txt)

['....', '.', '.-..', '.-..', '---', '.--', '---', '.-.', '.-..', '-..']

In [ ]:
#ex
morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }
input_txt = "Hello world"
result =''

for char in input_txt:
    if char.upper() in morse_code:
        result += morse_code[char.upper()]
print(result)

......-...-..---.-----.-..-..-..

Task7_0502. 주어진 비대칭 m×n 매트릭스(2차원 리스트)에서, 모든 대각선 상의 합을 계산하는 함수를 작성하세요. 결과는 각 대각선의 합을 리스트로 반환해야 합니다.

In [ ]:
#ex
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]

def get_sum_diagonal(arr):
  out_arr = [0, 0, 0, 0, 0, 0]

  for i1 in range(len(arr)):
    for i2 in range(len(arr[i1])):
      out_arr[i1+i2] += arr[i1][i2]

  return out_arr

arr = [
    [ 1,  2,  3],
    [ 4,  5,  6],
    [ 7,  8,  9],
    [10, 11, 12]
]
result = get_sum_diagonal(arr)
result

# [0][0]
# [0][1] [1][0]
# [0][2] [1][1] [2][0]
# [1][2] [2][1] [3][0]
# [2][2] [3][1]
# [3][2]

# 0-1-2-1-2-3-2-3-4-3-4-5

[1, 6, 15, 24, 20, 12]

In [ ]:
 #Task7_0502. 주어진 비대칭 m×n 매트릭스(2차원 리스트)에서, 모든 대각선 상의 합을 계산하는 함수를 작성하세요. 결과는 각 대각선의 합을 리스트로 반환해야 합니다.
input_arr = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]
# input_arr = [
#     [1,  2,  3,  7],
#     [4,  5,  6,  5],
#     [7,  8,  9,  1],
#     [10, 11, 12, 2]
# ]
# input_arr = [
    # [1,  2,  3,  7, 20],
    # [4,  5,  6,  5, 21],
    # [7,  8,  9,  1, 34],
    # [10, 11, 12, 2, 23]
# ]
# input_arr = [
    # [1,  2,  3,  7, 20],
    # [4,  5,  6,  5, 21],
    # [7,  8,  9,  1, 34],
    # [10, 11, 12, 2, 23],
    # [3,  16, 42, 21,3]
# ]

def cal_sum_diag(input_arr):
  row_n=len(input_arr); col_n=len(input_arr[0]); sum_diag_list=[]
  # Calculating along with the most outer element in an anticlockwise direction
  for i in range(row_n):
    sum_diag=0; l=0;
    for j in range(0,min(i+1, col_n),1):
     sum_diag=sum_diag+input_arr[i-l][j]
     l += 1
    sum_diag_list.append(sum_diag)

  l=0
  for j in range(1, col_n):
    sum_diag=0; k=0
    for i in range(row_n-1,row_n-col_n+l,-1):
      sum_diag=sum_diag+input_arr[i][j+k]
      k += 1
    l += 1
    sum_diag_list.append(sum_diag)
  return sum_diag_list

print(f"주어진 M x N 매트릭스의 대각선 상에 있는 요소의 합을 계산, 각 대각선의 합을 리스트로 출력: {cal_sum_diag(input_arr)}")

주어진 M x N 매트릭스의 대각선 상에 있는 요소의 합을 계산, 각 대각선의 합을 리스트로 출력: [1, 6, 15, 24, 20, 12]

In [ ]:
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]
print(len(input_matrix))
print(len(input_matrix[0]))

대각선 수 구하기:

4행 3열에서
첫 번째 행은 3개의 대각선에 각각 기여합니다.
첫 번째 열은 4개의 대각선에 각각 기여합니다.
하지만 가장 왼쪽 상단의 원소가 두 방향에서 모두 카운트되므로, 총 대각선 수는 3 + 4 − 1 = 6개가 됩니다.

In [ ]:
# 대각선 합 구하기
a b c
d e f
g h i
j k l

대각선 0: a0,0
대각선 1: b0,1 + d1,0
대각선 2: c0,2 + e1,1 + g2,0
대각선 3: f + h + j
대각선 4: i + k
대각선 5: l

In [ ]:
def diagonal_sums(matrix):
    if not matrix:
        return []
    m, n = len(matrix), len(matrix[0])
    # 최대 가능한 대각선 수는 m + n - 1
    print(m,n)
    max_diagonals = m + n - 1
    result = [0] * max_diagonals

    # 모든 원소를 순회하면서 해당 대각선 인덱스에 값을 더함
    for i in range(m):
        for j in range(n):
            # 대각선 인덱스는 행 인덱스와 열 인덱스의 차의 절댓값
            diagonal_index = i + j
            result[diagonal_index] += matrix[i][j]          #diagonal_index 대각선 인덱스 0~5

    return result

# 매트릭스 입력
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]

# 대각선 합 결과 출력
print(diagonal_sums(input_matrix))

4 3
[1, 6, 15, 24, 20, 12]

[ 대각선 수 구하기 ]

4행 3열에서
첫 번째 행은 3개의 대각선에 각각 기여합니다.
첫 번째 열은 4개의 대각선에 각각 기여합니다.
하지만 가장 왼쪽 상단의 원소가 두 방향에서 모두 카운트되므로, 총 대각선 수는 3 + 4 − 1 = 6개가 됩니다.

[ 대각선 합 구하기 ]

a b c\
d e f\
g h i\
j k l

대각선 0: a\
대각선 1: b + d\
대각선 2: c + e + g\
대각선 3: f + h + j\
대각선 4: i + k\
대각선 5: l