## Task1_0429. input_str을 아래와 같이 단어로 분리하여 출력하세요.

input_str = "Hello, world! How are you today? I am fine. Thank you!"

['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you', '']

In [ ]:
#아이디어-문장구조상 split으로 분리시 단어의 마지막에 특수문자가 들어감
#따라서 분리된 단어중 숫자 문자로만 되어있으면 리스트에 포함시키고
#그렇지 않으면 마지막 특수문자 지우고 리스트 붙인다.
input_str = "Hello, world! How are you today? I am fine. Thank you!"
words = input_str.split()
print(words)
result =[]
for i in words:
    if i.isalnum():
        result.append(i)
    elif not i[-1].isalnum():
        result.append(i[:-1])

print(result)

['Hello,', 'world!', 'How', 'are', 'you', 'today?', 'I', 'am', 'fine.', 'Thank', 'you!']
['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you']

## Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [ ]:
decimal_num = 122
binary_num = bin(decimal_num)
octa_num = oct(decimal_num)
hex_num = hex(decimal_num)
print("십진수 122를 2진수로 변환하면 ", binary_num)
print("십진수 122를 8진수로 변환하면 ", octa_num)
print("십진수 122를 16진수로 변환하면 ", hex_num)

십진수 122를 2진수로 변환하면  0b1111010
십진수 122를 8진수로 변환하면  0o172
십진수 122를 16진수로 변환하면  0x7a

## Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

In [ ]:
a = 10
b = 2
c = a * b
c += 10
print(c)

30

## Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [ ]:
list1 = ['Java', 'C', 'JavaScript']
del list1[1]
list1.append('Python')
print(list1)

['Java', 'JavaScript', 'Python']

## Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [ ]:
string = 'Incredible'
new_str = string[:3] + string[-3:]
print(new_str)

Incble

## Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [ ]:
usr_info = {'Alice':'alice@example.com'}
input_name = input("Enter a name: ")
for i in usr_info.keys():
    if input_name == i:
        print(usr_info[i])
    else:
        print("Not User")

Enter a name: ali
Not User

In [ ]:
usr_info = {'Alice':'alice@example.com'}
input_name = input("Enter a name: ")
for i in usr_info.keys():
    if input_name == i:
        print(usr_info[i])
    else:
        print("Not User")

Enter a name: Alice
alice@example.com

## Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

In [ ]:
t1 = (1, 2, 3, 4, 5)
t2 = (4, 5, 6, 7, 8)
s1 = set(t1)
s2 = set(t2)
intersection = s1.intersection(s2)
print(intersection)

{4, 5}

## Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

- 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
- 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
- 이름이 'John'인 사용자의 정보만 출력하세요.
- 전체 사용자의 평균 나이를 계산하고 출력하세요.

1. 사용자 데이터:
- 이름: John
- 나이: 28
- 좋아하는 색상: Blue
2. 사용자 데이터:
- 이름: Alice
- 나이: 24
- 좋아하는 색상: Red
3. 사용자 데이터:
- 이름: Maria
- 나이: 32
- 좋아하는 색상: Green

In [ ]:
#데이터 input의로 입력 받음
user1 = input("첫번째 사용자의 이름, 나이, 좋아하는 색상을 ,(쉼표)로 분리하여 입력하시오: ")
user1_split_list = user1.split(',')
user1_list = []
for i in user1_split_list:
    a = i.strip()
    user1_list.append(a)

user2 = input("두번째 사용자의 이름, 나이, 좋아하는 색상을 ,(쉼표)로 분리하여 입력하시오: ")
user2_split_list = user2.split(',')
user2_list = []
for i in user2_split_list:
    a = i.strip()
    user2_list.append(a)

user3 = input("세번째 사용자의 이름, 나이, 좋아하는 색상을 ,(쉼표)로 분리하여 입력하시오: ")
user3_split_list = user3.split(',')
user3_list = []
for i in user3_split_list:
    a = i.strip()
    user3_list.append(a)
#입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
user_inform_list = ['name', 'age', 'color']
user1_dict = {k:v for k, v in zip(user_inform_list, user1_list)}
user2_dict = {k:v for k, v in zip(user_inform_list, user2_list)}
user3_dict = {k:v for k, v in zip(user_inform_list, user3_list)}

total_user_list = [user1_dict, user2_dict, user3_dict]
print("사용자 전체 리스트: ", total_user_list)
#이름이 'John'인 사용자의 정보만 출력하세요.
for i in total_user_list:
    for k, v in i.items():
        if v == 'john':
            print("John의 정보: ", i)

#전체 사용자의 평균 나이를 계산하고 출력하세요.
age_list = [i[k] for i in total_user_list for k, v in i.items() if k == 'age']
int_age_list = [int(i) for i in age_list]
total = sum(int_age_list)
avg = total/len(age_list)
print("전체 사용자의 평균나이: ", avg)

첫번째 사용자의 이름, 나이, 좋아하는 색상을 ,(쉼표)로 분리하여 입력하시오: john, 28,blue
두번째 사용자의 이름, 나이, 좋아하는 색상을 ,(쉼표)로 분리하여 입력하시오: alice, 24, red
세번째 사용자의 이름, 나이, 좋아하는 색상을 ,(쉼표)로 분리하여 입력하시오: maria, 32, green
사용자 전체 리스트:  [{'name': 'john', 'age': '28', 'color': 'blue'}, {'name': 'alice', 'age': '24', 'color': 'red'}, {'name': 'maria', 'age': '32', 'color': 'green'}]
John의 정보:  {'name': 'john', 'age': '28', 'color': 'blue'}
전체 사용자의 평균나이:  28.0

In [ ]:
#사용자 데이터 직접 입력
user1_list = ['john', 28,'blue']
user2_list = ['alice', 24, 'red']
user3_list = ['maria', 32, 'green']

#입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
user_inform_list = ['name', 'age', 'color']
user1_dict = {k:v for k, v in zip(user_inform_list, user1_list)}
user2_dict = {k:v for k, v in zip(user_inform_list, user2_list)}
user3_dict = {k:v for k, v in zip(user_inform_list, user3_list)}

total_user_list = [user1_dict, user2_dict, user3_dict]
print("사용자 전체 리스트: ", total_user_list)
#이름이 'John'인 사용자의 정보만 출력하세요.
for i in total_user_list:
    for k, v in i.items():
        if v == 'john':
            print("John의 정보: ", i)

#전체 사용자의 평균 나이를 계산하고 출력하세요.
age_list = [i[k] for i in total_user_list for k, v in i.items() if k == 'age']
int_age_list = [int(i) for i in age_list]
total = sum(int_age_list)
avg = total/len(age_list)
print("전체 사용자의 평균나이: ", avg)

사용자 전체 리스트:  [{'name': 'john', 'age': 28, 'color': 'blue'}, {'name': 'alice', 'age': 24, 'color': 'red'}, {'name': 'maria', 'age': 32, 'color': 'green'}]
John의 정보:  {'name': 'john', 'age': 28, 'color': 'blue'}
전체 사용자의 평균나이:  28.0

In [1]:
#리스트컴프리헨션으로 단축
#사용자 데이터 입력
user1_list = ['john', 28,'blue']
user2_list = ['alice', 24, 'red']
user3_list = ['maria', 32, 'green']

#입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
user_inform_list = ['name', 'age', 'color']
user1_dict = {k:v for k, v in zip(user_inform_list, user1_list)}
user2_dict = {k:v for k, v in zip(user_inform_list, user2_list)}
user3_dict = {k:v for k, v in zip(user_inform_list, user3_list)}

total_user_list = [user1_dict, user2_dict, user3_dict]
print("사용자 전체 리스트: ", total_user_list)
inform_john = [i for i in total_user_list for k, v in i.items() if v == 'john']
print("John의 정보: ", inform_john)

#전체 사용자의 평균 나이를 계산하고 출력하세요.
age_list = [i[k] for i in total_user_list for k, v in i.items() if k == 'age']
int_age_list = [int(i) for i in age_list]
total = sum(int_age_list)
avg = total/len(age_list)
print("전체 사용자의 평균나이: ", avg)

사용자 전체 리스트:  [{'name': 'john', 'age': 28, 'color': 'blue'}, {'name': 'alice', 'age': 24, 'color': 'red'}, {'name': 'maria', 'age': 32, 'color': 'green'}]
John의 정보:  [{'name': 'john', 'age': 28, 'color': 'blue'}]
전체 사용자의 평균나이:  28.0

In [ ]:
#리스트컴프리헨션으로 단축
#사용자 데이터 입력
user1_list = ['john', 28,'blue'] ; user2_list = ['alice', 24, 'red'] ; user3_list = ['maria', 32, 'green']

#입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
#반복문으로 단순화
user_inform_list = ['name', 'age', 'color']
total_user_list = []
for i in [user1_list, user2_list, user3_list]:
    user_dict = {k: v for k, v in zip(user_inform_list, i)}
    total_user_list.append(user_dict)

print("사용자 전체 리스트: ", total_user_list)
inform_john = [i for i in total_user_list for k, v in i.items() if v == 'john']
print("John의 정보: ", inform_john)

#전체 사용자의 평균 나이를 계산하고 출력하세요.
age_list = [i[k] for i in total_user_list for k, v in i.items() if k == 'age']
int_age_list = [int(i) for i in age_list]
total = sum(int_age_list)
avg = total/len(age_list)
print("전체 사용자의 평균나이: ", avg)