#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow(딥러닝), PyTorch(딥러닝), Scikit-learn(머신 러닝) 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
딥러닝-신경망, 뉴럴네트웍, 네트웍의 심화, 딥러닝은 네트웍이라 볼 수 있다. 네트웍에 여려가지 레이어를 추가하여 처리하는것이 자연어 처리,
영상은 처리가 힘듬, 공간정보를 담기가 어려움 cnn으로 처리, 신경망에 cnn추가, 기본이 네트웍, 다양한 네트웍으로 딥러닝이 전개
-프레임웍: 툴과 라이브러리 모음,
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

In [ ]:
#!기호는 코랩 셀에서 유닉스/리눅스 셸 명령어 실행
!python --version

Python 3.10.12

In [ ]:
#% 기호는 아이파이썬 환경에서 제공하는 매직 명령어를 사용
#라인 매직은 단일 라인에 대해 실행되며 % 하나를 사룡하고 셀 매직은 셀 전체에 적용되면 %%를 사용
#현재 작업폴더 확인
%pwd

'/content'

In [ ]:
%%time
#간단한 for 루프를 사용한 계산
sum = 0
for i in range(100000000):
    sum += i
print(sum)

4999999950000000
CPU times: user 14.7 s, sys: 0 ns, total: 14.7 s
Wall time: 14.8 s

#### 용어
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

#### 식별자
count, user_name, _is_valid, calculate_area, Car, model, year, math 및 m 모두 유효한 식별자. 각각의 식별자는 특정한 데이터 또는 기능에 이름을 부여하여 코드 내에서 해당 데이터나 기능을 참조할 수 있게하며 코드의 가독성과 유지 보수성을 높이는 데 중요한 역할

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [7]:
print(len(keyword.kwlist))

35

In [8]:
#변수 식별자
count = 10
user_name = "Alice"
_is_valid = True

#함수 식별자 - 함수는 재활용가능에 장점
def calculate_area(radius):
    return 3.14159 * radius *radius

#클래스 식별자
class Car:
    def __init__(self, model, year):
        self.model = model
        self.year = year

#모듈 식별자
import math as m

In [4]:
def calculate_area(radius):
    return 3.14159 * radius *radius

In [5]:
calculate_area(3)

28.274309999999996

In [6]:
calculate_area(10)

314.159

###식별자 기본규칙


*   키워드를 사용하면 안된다.
    - a
    -b
- 특수문자는 언더 바(_)만 사용
*   숫자로 시작하면 안된다
- 공백을 포함할 수 없다.

In [ ]:
alpha
break #키워드
alpha10
_alpah
273alpha #숫자
AlpHa
ALPHA
has space #공백

Q. 주어진 문자열 리스트에서 유효한 Python 변수 이름만을 추출하여 반환하는 함수를 작성하세요

In [19]:
#isidentifier()는 파이썬의 문자열 메서드로, 주어진 문자열이 유효한 식별자인지를 확인
#isidentifier()는 예약어인지는 따로 체크하지 않음

identifiers = ["var1", "2things", "variable_name", "time!", "True"]

def valid_identifiers(identifiers):
    valid = []
    for identifier in identifiers:
        if identifier.isidentifier():
            valid.append(identifier)
    return valid

print(valid_identifiers(identifiers))

['var1', 'variable_name', 'True']

In [18]:
#키워드 모듈 사용하여 예약어 확인
import keyword

identifiers = ["var1", "2things", "variable_name", "time!", "True"]

def valid_variable_names(identifiers):
    valid_identifiers = []
    for identifier in identifiers:
        if identifier.isidentifier() and not keyword.iskeyword(identifier):
            valid_identifiers.append(identifier)
    return valid_identifiers

print(valid_variable_names(identifiers))

['var1', 'variable_name']

In [ ]:
identifiers = ["var1", "2things", "variable_name", "time!"]

for i in identifiers:
    if i[0].isdigit() or not i.isalnum():
        identifiers.remove(i)
print(identifiers)

문제 해결! 인덱스 문제 항목 지워지면서 건너뛰어짐

[Python List] for loop 안에서 list.remove() 사용 시 주의할 점 https://taylor-kang.tistory.com/12

파이썬은 snake_case와 CamelCase를 모두 사용
- itemlist: item_list itemList
- loginstatus: login_status loginStatus
- 캐멀 케이스 (대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [20]:
from re import A
# 연산자
a = 5
b = 3
c = b % a
d = b // a
e = b / a
print(c)
print(d)
print(e)

3
0
0.6

In [23]:
a = 3
b = 5

if a > b:
    print(a)
# False인 상황이라 출력이 되지 않음

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑 콜론으로 구분
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [24]:
#정수형, 실수형
i1 = 3
f1 = 3.5
print(i1)
print(f1)

3
3.5

In [27]:
#정수(int)
print(int(True))
print(int(False))
print(int('100'))
print(int(3.14))
print(3/3)

1
0
100
3
1.0

In [26]:
#실수(float)
print(float(True))
print(float(False))
print(float('100'))
print(float(3.14))

1.0
0.0
100.0
3.14

In [28]:
# 사직연산 : +, * ,/, //. %, **
a = 10
b = 2.3
print(a+b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

12.3
23.0
4.347826086956522
4.0
0.8000000000000007
199.52623149688787

In [31]:
#문자열

string = '문자열'
a = "100"

print(string)
print(a)

문자열
100

In [33]:
a = 100
b = 50
print(a+b)
a = '100 '
b = '50'
print(a+b)

150
100 50

In [34]:
a = int('100')
b = int('50')
print(a + b)

150

In [35]:
a = float('100')
b = float('50')
print(a + b)

150.0

In [36]:
#사용자 입력
#input으로 받은 데이터는 string으로 처리
input('인사말을 입력하세요. :')

인사말을 입력하세요. :안녕~

'안녕~'

In [39]:
a = int(input('첫번째 숫자: '))
b = int(input('두번째 숫자: '))
print('두 숫자의 합은 ' , a+b)

첫번째 숫자: 5
두번째 숫자: 3
두 숫자의 합은  8

In [42]:
#실수 + 실수 -> 실수
#Q. 3과 3.3을 입력하고 숫자 연산을 수앻하여 6.3을 출력하세요

num1 = float(input('숫자3 입력하시오. '))
num2 = float(input('숫자 3.3 입력하시오. '))
print('숫자연산을 수행한 결과는 ', num1 + num2)

숫자3 입력하시오. 3
숫자 3.3 입력하시오. 3.3
숫자연산을 수행한 결과는  6.3

In [43]:
#정수 + 실수 -> 실수
#Q. 3과 3.3을 입력하고 숫자 연산을 수앻하여 6.3을 출력하세요

num1 = int(input('정수 숫자3 입력하시오. '))
num2 = float(input('실수 숫자 3.3 입력하시오. '))
print('숫자연산을 수행한 결과는 ', num1 + num2)

정수 숫자3 입력하시오. 3
실수 숫자 3.3 입력하시오. 3.3
숫자연산을 수행한 결과는  6.3

In [46]:
#Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 자료형으로 변환하세요.
a = 52
b = 52.273
print(type(a))
a = str(a)
b = str(b)
print(a + b)
type(a)

<class 'int'>
5252.273

str

In [52]:
#문자열 : "", '', """ """, ''' '''
#p1 = 'python's value is great'
p1 = "python's value is great"
print(p1)

p1 = '''python's value is great'''
print(p1)

p1 = """python's value is great"""
print(p1)

python's value is great
python's value is great
python's value is great

In [54]:
#백슬래시(\)는 물자열 안에서 작은 따옴표(')를 문자열의 끝을 의미하지 않는 일반 문자로 포함시키기 위해 사용
#이 기술을 이스케이프라고 함.

p1 = 'python\'s value is great'
print(p1)

python's value is great

In [58]:
#\n 행 바꿈
#\t 탭 이동
y1 = "Once you study data analysis You need Python"
y2 = "Once you study data analysis\nYou need Python"
y3 = "Once you study data analysis\tYou need Python"
print(y1)
print("=" * 50)
print(y2)
print("=" * 50)
print(y3)

Once you study data analysis You need Python
==================================================
Once you study data analysis
You need Python
==================================================
Once you study data analysis	You need Python

In [67]:
y2 = '''
Once you study data analysis
You need Python
==================================================
                            	You need Python
'''
y3 = """
Once you study data analysis
You need Python
==================================================
                            	You need Python
"""
print(y2)
print(y3)

Once you study data analysis
You need Python
==================================================
                            	You need Python


Once you study data analysis
You need Python
==================================================
                            	You need Python

In [69]:
a1 = 'Python'
a2 = ' is easy to learn'
print(a1 + a2)
print("=" * 23)

Python is easy to learn
=======================

In [76]:
a = int(input('정수형 숫자를 입력하시오: '))
b = int(float(input('실수형 숫자를 입력하시오: ')))

if a > b:
    print(f'정수형 숫자 {a}가 더 큽니다.')
elif a < b:
    print(f'실수형 숫자 {b}가 더 큽니다.')
else:
    print('두 숫자는 같습니다.')

정수형 숫자를 입력하시오: 3
실수형 숫자를 입력하시오: 3.3
두 숫자는 같습니다.

In [71]:
#Q. 아래와 같이 출력할 수 있는 string을 만드세요
string = """
"What a wonderful world!"
he said loudly
"""
print(string)

"What a wonderful world!"
he said loudly

In [77]:
#자료형 - List
#리스트는 [] 로 표시하면 []안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a', 'b', 'c']
list3 = [1, 'a', 'abc', [1,2,3,4,5], ['a', 'b', 'c']]
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [78]:
#인덱싱

list1 = [1,2,3,4,5]
print(list1[2])
print(list1[0:2])
print(list1[:4])

3
[1, 2]
[1, 2, 3, 4]

In [80]:
list3 = [1, 'a', 'abc', [1,2,3,4,5], ['a', 'b', 'c']]
#리스트내 리스트 인덱싱
list3[3][2]
list3[4][0]

'a'

In [81]:
#리스트 수정, 삭제
a = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
a[0] = 1
print(a)
b[1] = 'a'
print(b)
del a[0]
print(a)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'c']

In [82]:
#끝에서 부터 인덱싱 : -1
a = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
print(a[-2])
print(a[-4:-1])
print(a[-4:])

8
[6, 7, 8]
[6, 7, 8, 9]

In [83]:
#리스트 확장
h = [1,2,3]
h.extend([4,5]) #반복 가능한 객체의 모든 요소를 리스트에 추가
print(h)
h.append(6)  #단일 객체를 추가
print(h)
h.insert(0,5)   #원하는 위치에 객체를 추가
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]

Q. list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기 - 도전
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [110]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
print(list1[11][1])
list1.append(82)
print(list1)
print(list1.index(87))
list2 =[]
list2 = list1[3:11]
list2.sort(reverse=True)
print(list2)
list1 [8] = 11
print(list1)
print(list1[2::-1]) #데이터 처리에 중요한 부분
print(list1[0::2])  #데이터 처리에 중요한 부분
del list1[-1]
print(list1)
print(list1[3] + list1[5])
print(list1[3] - list1[5])
print(list1[3] * list1[5])
print(list1[3] / list1[5])

33
[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
5
[87, 54, 39, 29, 19, 15, 13, 4]
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
[69, 45, 58]
[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]
[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
106
-68
1653
0.21839080459770116

In [112]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

position = list1.index(87)
list1[position] = 555
print(list1)

[58, 45, 69, 19, 4, 555, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [117]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, 27, 49, 63, 98, 22, 82]
list2 = []
for i in list1:
    if i % 2 == 1:
        list2.append(i)
print(list2)

[45, 69, 19, 87, 29, 13, 39, 15, 27, 49, 63]

In [122]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
print(list1)
print(list1[7::-1], '\n')
print(list1[7::2], '\n')
print(list1[7::-2], '\n')

[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
[13, 29, 87, 4, 19, 69, 45, 58]

[13, 15, [8, 33, 11], 49, 98, 82]

[13, 87, 19, 45]

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): ***리스트 객체***의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): *내장 함수*로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

In [124]:
#sort()
my_list = [3, 1, 2]
my_list.sort()
print(my_list)

[1, 2, 3]

In [126]:
#sorted()
my_tuple = (3, 1, 2)
new_list = sorted(my_tuple)
print(my_tuple)
print(new_list)

(3, 1, 2)
[1, 2, 3]

In [128]:
d = {"dream": 0, "car": 99, "blockdmask": 1, "error": 30, "app": 20}

# 오리지널 딕셔너리
print(f'origin         : {d}\n')

# dictionary.items()
d1 = sorted(d.items())
print(f'sorted(d.items())      : {d1}')
print(f'dict(sorted(d.items()) : {dict(d1)}')

print()

# 키 값만 빼서 정렬하려는 경우, key 만 빠지기 때문에 딕셔너리가 될수 없다.
d2 = sorted(d)
print(f'sorted(d)       : {d2}')

origin         : {'dream': 0, 'car': 99, 'blockdmask': 1, 'error': 30, 'app': 20}

sorted(d.items())      : [('app', 20), ('blockdmask', 1), ('car', 99), ('dream', 0), ('error', 30)]
dict(sorted(d.items()) : {'app': 20, 'blockdmask': 1, 'car': 99, 'dream': 0, 'error': 30}

sorted(d)       : ['app', 'blockdmask', 'car', 'dream', 'error']

In [130]:
list = [5,6,9,7,8]
new_list = list.sort()
print(list)
print(new_list)     # sort()는 리턴값 없음

[5, 6, 7, 8, 9]
None

In [132]:
list = [5,6,9,7,8]
new_list = sorted(list)
print(list)
print(new_list)         #sorted()는 리턴값 있음

[5, 6, 9, 7, 8]
[5, 6, 7, 8, 9]

In [133]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2 = list1[3:11]
l_sort = sorted(list2, reverse=True)
l_sort

[87, 54, 39, 29, 19, 15, 13, 4]

In [135]:
list3 = list1[3:11]
list3.sort(reverse=True)
print(list3)

[87, 54, 39, 29, 19, 15, 13, 4]

q. 아래 list를 sort, sorted를 이용해서 올림차순, 내림차룬으로 각각 출력하라

Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']\
target = 'apple'

Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.

예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.