In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%pwd

'/content'

% 매직명령어\
주피터 노트북 전용 명령어

Q1. 변수 x에 숫자 10을 할당하고, 변수 y에 문자열 "hello"를 할당한 뒤, 두 변수를 출력하세요.

In [1]:
x = 10
y = "hello"
print(x, y)

10 hello

Q2. 숫자가 양수인지 음수인지를 판별하는 조건문을 작성하세요.

In [4]:
num = int(input("Enter the number"))
if num % 2 ==1 :
  print("홀수입니다")
else:
  print("짝수입니다")

Enter the number10
짝수입니다

Q3. 리스트 [1, 2, 3, 4, 5]의 각 요소를 출력하는 반복문을 작성하세요.

In [5]:
list_item = [1, 2, 3, 4, 5]
for i in list_item:
  print(i)

1
2
3
4
5

Q4. 두 숫자를 입력받아 더하는 함수 add를 정의하고 호출하세요.

In [7]:
def add(a, b):
  return a + b

add(1, 2)

3

Q5. 문자열 "hello"에서 처음 세 문자를 슬라이싱하여 출력하세요.

In [8]:
string1 = "hello"
print(string1[:3])

hel

Q6. 주어진 정수 리스트에서 가장 자주 등장하는 숫자(최빈값)를 찾아 반환하는 함수를 작성하세요. 만약 최빈값이 여러 개라면, 그 중 가장 작은 숫자를 반환하세요.

numbers = [1, 3, 2, 3, 4, 1, 3, 3]

In [19]:
def solution(a):
	count = [0] * (max(a)+1)
	for i in a:
		count[i] += 1

	m = 0 # 최빈값의 개수
	for c in count:
		if c == max(count):
			m += 1

numbers = [1, 3, 2, 3, 4, 1, 3, 3]

solution(numbers)

3

In [20]:
def find_mode(numbers):
  from collections import Counter
  count = Counter(numbers)
  max_freq = max(count.values())
  frequent_numbers = [num for num, freq in count.items() if freq == max_freq]
  return min(frequent_numbers)

numbers = [1, 3, 2, 3, 4, 1, 3, 3]
print(find_mode(numbers))

3

Q7. 딕셔너리 person에서 키 "name"의 값을 출력하세요.

In [18]:
person = {'name':'kim'}
for k, v in person.items():
  if k == 'name':
    print(v)

kim

Q8. 이름과 나이를 입력받아 "Hello, [name]. You are [age] years old." 형식으로 출력하세요.

In [12]:
name = input("What your name?:")
age = input("How old are you?:")
print(f"\"Hello, {name}. You are {age} years old.\"")

What your name?:kim
How old are you?:10
"Hello, kim. You are 10 years old."

Q9. 0부터 9까지 숫자 중에서 홀수만 포함하는 리스트를 리스트 컴프리헨션을 사용하여 생성하세요.

In [14]:
num = [i for i in range(10) if i% 2]
print(num)

[1, 3, 5, 7, 9]

Q10. 숫자를 0으로 나누려 할 때 발생하는 예외를 처리하는 코드를 작성하세요.

In [15]:
a = 3
b = 0

try:
  result = a / b
  print(result)
except ZeroDivisionError:
  print("Can't divided")

Can't divided