파이썬에서 함수는 크게 내장 함수(Built-in Functions)와 외장 함수(External Functions)로 나뉩니다.

1. 내장 함수 (Built-in Functions):
- 내장 함수는 파이썬 인터프리터에 포함되어 있어, 별도의 모듈을 임포트(import)하지 않고도 사용 예를 들어, print(), len(), type(), range(), zip() 등이 내장 함수입니다.
- 이러한 함수들은 기본적인 작업을 수행하며, 파이썬 프로그래밍의 기본적인 빌딩 블록(building blocks)으로 작동

2. 외장 함수 (External Functions):
- 표준 라이브러리에 포함된 모듈과 함수를 가리키는 것으로 모듈을 임포트하여 사용
- 파이썬 표준 라이브러리의 os, sys, math, random, datetime 등의 모듈에는 다양한 외장 함수가 포함

3. 외부 라이브러리나 패키지
- 표준 라이브러리에 포함되지 않아 기본 설치에는 포함되지 않는다.
- 이를 사용하려면 먼저 해당 라이브러리나 패키지를 설치
- 외부 라이브러리는 통상적으로 파이썬의 패키지 관리자인 pip를 사용하여 설치
- 설치 후에는 외장 함수와 마찬가지로 필요한 모듈을 임포트하여 사용
- 예: numpy, pandas, requests 등의 외부 라이브러리에 포함된 함수들.

3. 사용자 정의 함수(User-Defined Functions):
- 사용자가 직접 정의하여 사용하는 함수
- def 키워드를 사용하여 함수를 정의하며, 필요에 따라 매개변수와 반환 값을 지정

4. 람다 함수(Lambda Functions):
- 이름 없는 간단한 함수를 정의할 때 사용하는 익명 함수
- lambda 키워드를 사용하여 한 줄로 함수를 정의하며, 주로 간단한 연산이 필요할 때 사용1

In [ ]:
#내장함수
print("hello world!")
print(len([1,2,3,4,]))
print(type(10))

hello world!
4
<class 'int'>

In [ ]:
#Q. 내장함수로 다음을 수행하세요.
a = [1,2,3,4,5]
print(sum(a))
print(max(a))
print(min(a))
print(sorted(a))
print(list(reversed(a)))

15
5
1
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
print(type(42))
print(abs(-5))  #절대값
print(round(3.14159, 2)) #반올림
print(pow(2,3)) #2의3승

<class 'int'>
5
3.14
8

In [ ]:
#외장함수
import math
print(math.sqrt(16))

import random
print(random.randint(1,10))

import datetime
print(datetime.datetime.now())

4.0
4
2024-05-03 06:26:51.242078

In [ ]:
#Q. datetime.datetime.now()에서 연도, 월,일,시,분,초,마이크로초를 각각 출력하세요
#     모듈    클래스  메소드
import datetime
a = datetime.datetime.now()
print(a.year)
print(a.month)
print(a.day)
print(a.hour)
print(a.minute)
print(a.second)
print(a.microsecond)

2024
5
3
7
41
41
857028

In [ ]:
import os
print(os.getcwd())

/content

In [ ]:
os.mkdir('new_folder')

FileExistsError: [Errno 17] File exists: 'new_folder'

In [ ]:
!ls

sample_data

In [ ]:
#외부 라이브러리 예제
#먼저pip를 사용하여  pandas라이브러리를 설치합니다

import pandas as pd
data = {'name':['Alice', 'Bob','Charlie'], 'age' : [25,30,35]}
df = pd.DataFrame(data)
print(df.head())

      name  age
0    Alice   25
1      Bob   30
2  Charlie   35

In [ ]:
import numpy as np
data = [1,2,3,4]
arr = np.array(data)
print(arr, type(arr))

[1 2 3 4] <class 'numpy.ndarray'>

In [ ]:
#사용자 함수 예제
def greet(name):
    return f"Hello, {name}!"

print(greet("홍길동"))

Hello, 홍길동!

In [ ]:
#람다 함수는 간단한 한 줄의 함수를 작성할 때 우용
multiply = lambda x,y:x + y
print(multiply(3,5))

8

In [ ]:
#조건 사용:
is_even = lambda x: True if x % 2 == 0 else False
print(is_even(4))
print(is_even(5))

True
False