- 함수의 종류 및 예제:내장함수, 외장함수, 외부라이브러리, 람다함수, 사용자함수

- 패키지, 모듈, 함수, 클래스
- 함수 vs 메소드
- 내장함수 연습
- 외장함수 연습 : 날짜 함수, os
- 외부 라이브러리 연습
- 람다함수 연습
- 사용자 함수 연습
- 함수 유형 : 입력 인자와 리턴값에 따른 4가지 형태
- 지역변수와 전역변수
- 프로그램 작성

https://www.dataq.or.kr/www/sub/a_07.do#none
빅데이터 분석 기사

파이썬에서 함수는 크게 내장 함수(Built-in Functions)와 외장 함수(External Functions)로 나뉩니다.

1. 내장 함수 (Built-in Functions):
- 내장 함수는 파이썬 인터프리터에 포함되어 있어, 별도의 모듈을 임포트(import)하지 않고도 사용 예를 들어, print(), len(), type(), range(), zip() 등이 내장 함수입니다.
- 이러한 함수들은 기본적인 작업을 수행하며, 파이썬 프로그래밍의 기본적인 빌딩 블록(building blocks)으로 작동

2. 외장 함수 (External Functions):
- 표준 라이브러리에 포함된 모듈과 함수를 가리키는 것으로 모듈을 임포트하여 사용
- 파이썬 표준 라이브러리의 os, sys, math, random, datetime 등의 모듈에는 다양한 외장 함수가 포함

3. 외부 라이브러리나 패키지
- 표준 라이브러리에 포함되지 않아 기본 설치에는 포함되지 않는다.
- 이를 사용하려면 먼저 해당 라이브러리나 패키지를 설치
- 외부 라이브러리는 통상적으로 파이썬의 패키지 관리자인 pip를 사용하여 설치
- 설치 후에는 외장 함수와 마찬가지로 필요한 모듈을 임포트하여 사용
- 예: numpy, pandas, requests 등의 외부 라이브러리에 포함된 함수들.

3. 사용자 정의 함수(User-Defined Functions):
- 사용자가 직접 정의하여 사용하는 함수
- def 키워드를 사용하여 함수를 정의하며, 필요에 따라 매개변수와 반환 값을 지정

4. 람다 함수(Lambda Functions):
- 이름 없는 간단한 함수를 정의할 때 사용하는 익명 함수
- lambda 키워드를 사용하여 한 줄로 함수를 정의하며, 주로 간단한 연산이 필요할 때 사용1

파이썬 표준 라이브러리

https://docs.python.org/ko/3/library/index.html

표준라이브러리에 없는것이 외부 라이브러리

https://docs.python.org/ko/3.10/library/index.html

In [ ]:
#내장함수
print("hello world!")
print(len([1,2,3,4,]))
print(type(10))

hello world!
4
<class 'int'>

In [ ]:
#Q. 내장함수로 다음을 수행하세요.
a = [1,2,3,4,5]
print(sum(a))
print(max(a))
print(min(a))
print(sorted(a))
print(list(reversed(a)))

15
5
1
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
print(type(42))
print(abs(-5))  #절대값
print(round(3.14159, 2)) #반올림
print(pow(2,3)) #2의3승

<class 'int'>
5
3.14
8

In [ ]:
#외장함수
import math
print(math.sqrt(16))

import random
print(random.randint(1,10))

import datetime
print(datetime.datetime.now())

4.0
7
2024-05-08 01:46:32.890361

In [ ]:
#Q. datetime.datetime.now()에서 연도, 월,일,시,분,초,마이크로초를 각각 출력하세요
#     모듈    클래스  메소드
import datetime
a = datetime.datetime.now()
print(a.year)
print(a.month)
print(a.day)
print(a.hour)
print(a.minute)
print(a.second)
print(a.microsecond)

2024
5
8
1
46
32
913136

In [ ]:
import os
print(os.getcwd())
print(os.listdir())

/content
['.config', 'sample_data']

In [ ]:
os.mkdir('new_folder')

In [ ]:
os.removedirs('new)folder')

FileNotFoundError: [Errno 2] No such file or directory: 'new)folder'

In [ ]:
!ls

In [ ]:
#외부 라이브러리 예제
#먼저pip를 사용하여  pandas라이브러리를 설치합니다

import pandas as pd
data = {'name':['Alice', 'Bob','Charlie'], 'age' : [25,30,35]}
df = pd.DataFrame(data)
print(df.head())

In [ ]:
import numpy as np
data = [1,2,3,4]
arr = np.array(data)
print(arr, type(arr))

In [ ]:
#사용자 함수 예제
def greet(name):
    return f"Hello, {name}!"

print(greet("홍길동"))

In [ ]:
#람다 함수는 간단한 한 줄의 함수를 작성할 때 우용
multiply = lambda x,y:x + y
print(multiply(3,5))

In [ ]:
#조건 사용:
is_even = lambda x: True if x % 2 == 0 else False
print(is_even(4))
print(is_even(5))

#### 파이썬 패키지,  모듈, 함수, 클래스
- 코드 작성 시 이미 만들어져 있는 함수들을 활용하면 보다 효율적이고 빠르게 개발 가능
- 이미 만들어져 있고 안정성이 검증된 함수들을 성격에 맞게 하나의 파이썬 파일에 묶어 만들어 놓을 것을 모듈이라 함
- 외부 모듈에 있는 함수들을 활용하려면 이 모듈을 먼저 가져와서 사용해야 하는데 이것을 모듈을 임포트한다고 한다.
- 파이썬 모듈이 하나의 파이썬 파일이라면 패키지는 디렉토리로 볼 수 있다.

패키지- 가장 큰 범위
1. 라이브러리라고도 부름
2. 특정 기능과 관련된 여러 모듈을 한 그룹으로 묶은 것
3. 패키지 안에 서브패키지가 있을 수도 있다.
4. import 패키지/모듈(모듈 전부사용), from 패키지/모듈 import 서브패키지/모듈
  
   
모듈
1. 여러 기능들이 뭉쳐진 하나의. py파일
2. 함수, 클래스, 변수 등 포함
3. import 모듈

함수
1. 하나의 기능을 가진 코드의 집합 / 속성은 변수
2. 함수를 사용한다 = 함수를 호출한다
3. 함수 사용 형태: 함수( )
   - 필요한 경우 () 안에 매개변수 또는 옵션
4. 종류
   - 내장 함수(built in function)
   - 외장 함수: import 해주어야 함
   
클래스   
- 파이썬은 객체 지향 언어로클래스를 기반으로 객체를 만들어 사용한다.
- 한 파이썬 파일(. py) 내에서 "class 클래스명():"을 통해 클래스 선언

#### 함수 vs 메소드
- 함수 (Function)
    - 함수는 특정 작업을 수행하거나 값을 계산하기 위해 정의된 코드의 블록
    - 함수는 def 키워드를 사용하여 정의
    - 함수는 전역적으로 호출할 수 있거나 다른 함수 내부에서 호출할 수 있다.    
- 메소드 (Method)
    - 메소드는 객체에 속한 함수, 메소드는 특정 객체의 기능으로 정의
    - 메소드는 객체와 연결되어 있으며, . (점) 표기법을 사용하여 해당 객체에 대한 메소드를 호출
    - 메소드는 첫 번째 매개변수로 self를 사용하여 객체 자체를 참조 (클래스 내부에서 메소드를 정의할 때)




- 주요 차이점
    - 정의: 함수는 독립적으로 정의되지만, 메소드는 클래스 내부에서 정의
    - 호출: 함수는 이름만으로 호출될 수 있지만, 메소드는 객체를 통해 호출
    - 참조: 메소드는 첫 번째 매개변수로 객체 자신을 참조(self), 반면 함수는 이런 자체 참조 매개변수를 갖지 않는다.

In [ ]:
#함수 호출
def my_function():
    print("Hello from a function")
my_function()

In [ ]:
#메소드 호출
class MyClass:
    def my_method(self):
        print("Hello from a method")

obj = MyClass()
#obj.my_method()
MyClass.my_method(obj)

내장함수 연습

In [ ]:
print(abs(-3))
print(all([1,2,3,0]))
print(any([1,2,3,0]))
print(chr(65))
print(float(3))
print(int(3.9))
print(max(1,10))
print(min(1, 10))
print(pow(10, 2))
print(round(2.675, 2))
print(round(2.675, 3))
print(round(2.675, 1))

In [ ]:
type(pow)

In [ ]:
#함수가 다른 객체와 마찬가지로 변수에 할당되거나, 다른 함수로 전달되거나, 다른 함수로부터 반한돨 수 있음
#pow를 다른 변수에 할당
my_pow = pow
result = my_pow(2,3)
print(result)
#함수를 인자로 전달하는 경우
def apply_func(func, x, y):
    return func(x, y)
result = apply_func(pow, 3,4) #pow(3,4)
print(result)

In [ ]:
age = 30
print("I am " + str(age) + " years old.")

In [ ]:
my_list = [3,1,4,2]
print(sorted(my_list))
my_list

In [ ]:
#Q.students = [('Alice', 90), ('bob',85),('charlie',88)]를 점수를 기준으로 정렬하세요.
students = [('Alice', 90), ('bob',85),('charlie',88)]
print(sorted(students, key=lambda x: x[1], reverse=True))
print(sorted(students, key=lambda x: x[0], reverse=True))
print(sorted(students, reverse=True))

In [ ]:
my_string = 'Python'
print(type(my_string))

In [ ]:
print(list(range(5)))
print(list(range(1,6)))
print(list(range(1,10,2)))
print(list(range(0,-10,-1)))

Q.실행 가능한 숫자를 문자열 ('5+5')입력으로 받아 문자열을 숫자 연산으로 실행한 결과값을 출력하세요

In [ ]:
print(eval(input('연산을 입력하세요. > ')))

In [ ]:
expression = input("계산할 수식을 입력하세요: ")
result = eval(expression)
print(f"계산 결과: {result}")

In [ ]:
data = [1,2,3,4,5]
operation = input("실행할 리스트 연산을 입력하세요(예: 'data.append(6), data.pop()). > ")
eval(operation)
print(f'수정된 데이터: {data}')

In [ ]:
data = [1,2,3,4,5]
operation = input("실행할 리스트 연산을 입력하세요(예: 'data.append(6), data.pop()). > ")
eval(operation)
print(f'수정된 데이터: {data}')

In [ ]:
for idx, element in enumerate(['ele1', 'ele2', 'ele3'],1):
    print(idx, element)

In [ ]:
#Q. enumerate 와 f-string을 사용해서 특정 리스트에서 원하는 형태로 출력하세요.(인덱스와 내용을 믹스하여)
list2 = ['사과','키위','딸기','참외','수박']
print('과일의 종류')
for idx, element in enumerate(list2):
    print(f"{idx}. {element}")

In [ ]:
#range
print(range(10), type(range(10))) #타입이 레인지
print([i for i in range(10)])
print(type([i for i in range(10)]))

In [ ]:
print(list(range(10)))
print(type(list(range(10))))

In [ ]:
#몫과 나머지
print(divmod(7, 3))

In [ ]:
#Q. 150분을 시간과 분으로 변환
time = 150
hour, minutes = divmod(time, 60)
print(f"{time}분은 {hour}시간, {minutes}분")

In [ ]:
def convert_time(minutes):
    hours, minutes = divmod(minutes, 60)
    return hours, minutes

minutes = 150
hours, minutes = convert_time(minutes)
print(f"{hour}시간 {minutes}분")

In [ ]:
#Q.내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제후 출력하세요.
list1 = [0,1,2,3,4,5,6]
for _ in range(len(list1)):
    list1.pop()
print(list1)

[]

In [ ]:
# Q. url에서 쿼리문을 추출하여 출력
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
tmp1 = url.split('/')
tmp2 = tmp1[-1].split('?')
result = tmp2[-1].split('&')

print(result)
for i in result:
    print(i)

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']
mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601

In [ ]:
#Q.리스트안의 단어 혹은 알파벳이 있으면 해당 제목을 출력
x = input("제목을 입력해주세요: ")
tlist = ['Hello World!','Nice Day', 'HappyBin', 'enDing_Story']
n_tlist = [] #소문자로 바꾼 전체리스트
x = x.lower()
for i in range(len(tlist)):
    n_tlist.append(tlist[i].lower())
    if x in n_tlist[i]:     # in 대신 ==로 하려면 똑같은 단어 입력해야함
        print(tlist[i])

제목을 입력해주세요: n
Nice Day
HappyBin
enDing_Story

In [ ]:
#Q.영어 이름을 적으면 앞에 글자를 대문자로 바꾸어 주는 프로그램
#단 중간에 한칸씩 띄어주어야 함 ex) kim dong wan
#name = input('이름을 영어로 입력하세요: ')

# split_name = name.split()
# for i in split_name:
#     i.title()
name = input('이름을 영어로 입력하세요: ')
txt = name.title()
print(f'당신의 이름을 바꾸면 {txt}입니다.')

이름을 영어로 입력하세요: kim sung hyun
당신의 이름을 바꾸면 Kim Sung Hyun입니다.

In [ ]:
#문자열에서 좌우 공백 제거
txt = '   양쪽에 공백이 있는 문자열입니다.   '
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()
print('<'+ret1+'>')
print('<'+ret2+'>')
print('<'+ret3+'>')

<양쪽에 공백이 있는 문자열입니다.   >
<   양쪽에 공백이 있는 문자열입니다.>
<양쪽에 공백이 있는 문자열입니다.>

In [ ]:
#join :특정 문자로 결합
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
bond = ';'
log = bond.join(loglist)
print(log)

2016/08/26 10:12:11;200;OK;이 또한 지나가리라

In [ ]:
#replace : 특정 문자(열)을 다른 문자(열)로 바꾸기
txt = 'My password is 1234'
ret1 = txt.replace('1', '0')
ret2 = txt.replace('1', 'python')
print(ret1)
print(ret2)

txt = '매일 많은 일들이 일어납니다.'
ret3 = txt.replace("많은 일들이", "아침 일찍")
print(ret3)

My password is 0234
My password is python234
매일 아침 일찍 일어납니다.

In [ ]:
#Q. 입력된 문장에서 'bad'를 'good'으로 교체해서 출력하세요.입력 예시: This is a bad example
txt = 'This is a bad example'
ret1 = txt.replace('bad', 'good')
print(ret1)
txt1 = input("문장을 입력하세요: ")
ret2 = txt1.replace('bad', 'good')
print(ret2)

This is a good example
문장을 입력하세요: this is a bad man
this is a good man

In [ ]:
#코드값에 대응하는 문자 얻기 chr()

val = int(input('문자 코드값을 입력하세요: '))
ch = chr(val)
print('코드값: %d 문자: %s' %(val, ch))

문자 코드값을 입력하세요: 89
코드값: 89 문자: Y

In [ ]:
while True:
    val = int(input('문자 코드 값을 입력하세요 (0을 입력하면 종료): '))
    if val == 0:
        print("종료합니다.")
        break
    else:
        print(f"코드값 {val}은 문자 {chr(val)}입니다.")

문자 코드 값을 입력하세요 (0을 입력하면 종료): 0
종료합니다.

In [ ]:
#문자열이 문자인지 검사
txt1 = 'A'
txt2 = '안녕'
txt3 = 'warcraft three'
txt4 = '3PO'
ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()
print(ret1)
print(ret2)
print(ret3)
print(ret4)

True
True
False
False

In [ ]:
# isdigit() : 문자열이 숫자인지 검사

txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'
ret1 = txt1.isdigit()
ret2 = txt2.isdigit()
ret3 = txt3.isdigit()
print(ret1)
print(ret2)
print(ret3)

False
False
True

In [ ]:
# isalnum() : 문자열이 문자 또는 숫자인지 검사 : 문자열이 영어, 한글 혹은 숫자로 되어있으면 참리턴, 아니면 거짓 리턴
txt1 = '안녕하세요?'
txt2 = '1. Title-제목을 넣으세요'
txt3 = '3피오R2D2'
ret1 = txt1.isalnum()
ret2 = txt2.isalnum()
ret3 = txt3.isalnum()
print(ret1)
print(ret2)
print(ret3)

False
False
True

In [ ]:
txt = 'A lot of Things occur each day'
ret1 = txt.upper()
ret2 = txt.lower()
ret3 = txt.title()
ret4 = txt.capitalize()
print(ret1)
print(ret2)
print(ret3)
print(ret4)

A LOT OF THINGS OCCUR EACH DAY
a lot of things occur each day
A Lot Of Things Occur Each Day
A lot of things occur each day

Q. numbers내부에 들어있는 숫자가 몇번 등장하는지를 출력하는 코드를 작성하세요.

In [ ]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

from collections import Counter
print(Counter(numbers))

print()

result = {}
for i in numbers:
    if i in result:
        result[i] += 1
    else:
        result[i] =1
print(result)

Counter({3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2})

{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

In [ ]:
#list a 의 모든 원소를 실수형으로 바꾸어 출력하세요
a = [1,2,3,4,5]
a_float = list(map(float, a))
print(a_float)

a= [1.0, 2.0, 3.0, 4.0, 5.0]
a_float = list(map(int, a))
print(a_float)

[1.0, 2.0, 3.0, 4.0, 5.0]
[1, 2, 3, 4, 5]

In [ ]:
#Q. 데이터를 입력하지 않으면 종료되는 코딩을 수행하세요. 단 반복적으로 작업을 수행할수 있음.
while 1:
    a = input("데이터 입력: ")
    if a == '':
        print("데이터 입력이 없으므로 종료합니다.")
        break
    else:
        print(a)

데이터 입력:
데이터 입력이 없으므로 종료합니다.

In [ ]:
while 1:
    data = input()
    if not data: break
    print(data)

표준 라이브러리 - 외장함수

[ 날짜 함수 ]

날짜와 시간을 처리하기 위한 주요 라이브러리는 datetime입니다. 이 라이브러리는 날짜, 시간, 시간대와 관련된 다양한 클래스와 함수를 제공하며, 날짜와 시간 연산에 매우 유용
- datetime.date: 날짜(연, 월, 일)를 표현하는 클래스
    - today(): 오늘의 날짜를 반환
- datetime.time: 시간(시, 분, 초, 마이크로초)을 표현하는 클래스
- datetime.datetime: 날짜와 시간을 모두 포함하는 클래스
    - now(): 현재의 날짜와 시간을 반환
- datetime.timedelta: 두 날짜/시간 간의 차이를 표현하는 클래스
- datetime.tzinfo: 시간대 정보를 위한 기본 클래스

datetime 모듈의 날짜와 시간 객체들을 문자열 형식으로 포맷팅하거나 문자열로부터 날짜와 시간 객체를 생성하기 위해 사용하는 주요 메서드는 strftime()와 strptime()
- strftime() (String Format Time) -String Format
    - 날짜와 시간 객체를 문자열로 변환하는 데 사용
    - 사용자가 지정한 형식 문자열을 기반으로 날짜와 시간 정보를 문자열로 표현
- strptime() (String Parse Time) -Parse Time
    - 문자열을 날짜와 시간 객체로 변환하는 데 사용
    - 주어진 형식 문자열을 기반으로 문자열에서 날짜와 시간 정보를 파싱

In [ ]:
import datetime

now = datetime.datetime.now()
print(now)
today = datetime.date.today()
print(today)
d = datetime.datetime(2023, 11, 2,14,29,45)
print(d)
delta = datetime.timedelta(days=7)
new_date = today + delta
print(new_date)
date1 = datetime.date(2024,1,1)
date2 = datetime.date(2024,12,31)
diff = date2 - date1
print(diff.days)

2024-05-08 05:28:01.152739
2024-05-08
2023-11-02 14:29:45
2024-05-15
365

포맷 코드 표<BR>
포맷코드   설명   예<BR>
%a   요일 줄임말   Sun, Mon, ... Sat<BR>
%A   요일   Sunday, Monday, ..., Saturday<BR>
%w   요일을 숫자로 표시, 월요일일요일, 06   0, 1, ..., 6<BR>
%d   일   01, 02, ..., 31<BR>
%b   월 줄임말   Jan, Feb, ..., Dec<BR>
%B   월   January, February, …, December<BR>
%m   숫자 월   01, 02, ..., 12<BR>
%y   두 자릿수 연도   01, 02, ..., 99<BR>
%Y   네 자릿수 연도   0001, 0002, ..., 2017, 2018, 9999<BR>
%H   시간(24시간)   00, 01, ..., 23<BR>
%I   시간(12시간)   01, 02, ..., 12<BR>
%p   AM, PM   AM, PM<BR>
%M   분   00, 01, ..., 59<BR>
%S   초   00, 01, ..., 59<BR>
%Z   시간대   대한민국 표준시<BR>
%j   1월 1일부터 포함한 날(차이가 아닌 몇일째 되는 날인가)   001, 002, ..., 366<BR>
%U   1년중 주차, 월요일이 한 주의 시작으로   00, 01, ..., 53<BR>
%W   1년중 주차, 월요일이 한 주의 시작으로   00, 01, ..., 53<BR>
%c   날짜, 요일, 시간을 출력, 현재 시간대 기준   Sat May 19 11:14:27 2018<BR>
%x   날짜를 출력, 현재 시간대 기준   05/19/18<BR>
%X   시간을 출력, 현재 시간대 기준   '11:44:22'

In [ ]:
import datetime

now = datetime.datetime.now()
print(now,type(now))
formatted = now.strftime("%Y-%m-%d %H:%M:%S")
print(formatted, type(formatted))

2024-05-08 05:36:21.150843 <class 'datetime.datetime'>
2024-05-08 05:36:21 <class 'str'>

In [ ]:
import datetime

date_string = "2023-11-02 14:45:30"
print(date_string, type(date_string))
dt = datetime.datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")
print(dt, type(dt))

2023-11-02 14:45:30 <class 'str'>
2023-11-02 14:45:30 <class 'datetime.datetime'>

time 모듈
- 시스템 시간에 접근하거나 간단한 타이머 기능을 구현
- 함수와 같이 프로그램을 일정 시간 동안 중지시키는 데 사용
- 시간을 연도, 월, 일, 시, 분, 초 등의 구성 요소로 변환하고 다룰 수 있는 struct_time 객체를 제공
- time 모듈은 날짜와 시간을 처리하는 다양한 프로그래밍 요구에 대응할 수 있는 기본적인 기능을 제공하지만, 더 복잡한 날짜 시간 처리나 시간대 변환 등은 datetime 모듈 또는 외부 라이브러리를 사용

In [ ]:
#localtime() 함수는 파이썬의 time모듈에 포함되어 있으며, 이 함수는 초로 표시되는 시간을 구조화된 시간 튜플현태
#tm_wday=2(위크데이 0부터 시작, 현재 수요일), tm_yday=129(올해 129일 지남)tm_isdst=0 (썸머타임여부 0은 안함)
import time
local_time = time.localtime()
print(local_time)

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=8, tm_hour=5, tm_min=44, tm_sec=5, tm_wday=2, tm_yday=129, tm_isdst=0)

In [ ]:
#현재 시간을 1970년 1월1일 0시0분0초 유닉스 시간의 시작부터 현재까지의 초로 표현한 값을 반환
import time
time.time()

1715147283.3650982

In [ ]:
#초로 표현된 시간을 구조화된 시간 튜플 형태로 변환
t = time.time()
time.localtime(t)

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=8, tm_hour=5, tm_min=50, tm_sec=11, tm_wday=2, tm_yday=129, tm_isdst=0)

In [ ]:
import time
d = time.strftime('%d', time.localtime(time.time()))
m = time.strftime('%m', time.localtime(time.time()))
y = time.strftime('%Y', time.localtime(time.time()))
a = time.strftime('%A', time.localtime(time.time()))
print(d)
print(m)
print(y)
print(a)

08
05
2024
Wednesday

In [ ]:
#Q. 1609160537.371015을 "Sat Jun 26 08:35:03 2021"포멧으로 출력하세요
import time
t= time.localtime(1609160537.371015)
result = time.strftime('%a %b %d %H:%M:%S %Y', t)
print(result)

readable_time = time.asctime(t)   #.asctime(): 인간이 읽을 수 있는 형태로 변환하는 메소드
print(readable_time)

Mon Dec 28 13:02:17 2020
Mon Dec 28 13:02:17 2020

In [ ]:
#timestamp > str
import time
t = time.time()
print(t, type(t))
s = str(t)
print(s, type(s))

1715149283.4721625 <class 'float'>
1715149283.4721625 <class 'str'>

In [ ]:
#timestamp > datetime
from datetime import datetime
t = time.time()
print(t, type(t))
d = datetime.fromtimestamp(t)
print(d, type(d))

1715149543.9064374 <class 'float'>
2024-05-08 06:25:43.906437 <class 'datetime.datetime'>

In [ ]:
#datetime > str
from datetime import datetime

s= datetime.now()
print(s, type(s))

s1 = s.strftime('%Y-%m-%d %H:%M:%S')
print(s1, type(s1))

2024-05-08 06:32:32.502305 <class 'datetime.datetime'>
2024-05-08 06:32:32 <class 'str'>

In [ ]:
#timestamp > datetime > str

import time
from datetime import datetime
t = time.time()
print(t, type(t))
d = datetime.fromtimestamp(t)
print(d, type(d))
s = d.strftime('%Y-%m-%d %H:%M:%S')  # %X 현재 시간대 기준 "11:44:22"
print(s, type(s))
s = d.strftime('%Y-%m-%d %X')  # %X 현재 시간대 기준 "11:44:22"
print(s, type(s))

1715150356.1231718 <class 'float'>
2024-05-08 06:39:16.123172 <class 'datetime.datetime'>
2024-05-08 06:39:16 <class 'str'>
2024-05-08 06:39:16 <class 'str'>

In [ ]:
#str > datetime
from datetime import datetime
s= '2024-05-08 06:39:16'
print(s, type(s))
d = datetime.strptime(s, '%Y-%m-%d %X')
print(d, type(d))

2024-05-08 06:39:16 <class 'str'>
2024-05-08 06:39:16 <class 'datetime.datetime'>

In [ ]:
#datetime > timestamp
d = datetime.today()
print(d, type(d))
timestamp = time.mktime(d.timetuple())
print(timestamp, type(timestamp))

2024-05-08 06:45:23.908445 <class 'datetime.datetime'>
1715150723.0 <class 'float'>

In [ ]:
#str > datetime > timestamp
s= '2024-05-08 06:39:16'
timestamp = time.mktime(datetime.strptime(s, '%Y-%m-%d %X').timetuple())
print(timestamp, type(timestamp))

1715150356.0 <class 'float'>

In [1]:
#외장함수: 파이썬을 설치할때 자동으로 설치
#pickle은 객체의 형태를 위지하면서 파일에 저장하고 불러올 수 있게 하는 모듈

import pickle
f = open('test3.txt', 'wb')
data = {1:'python', 2:'you need'}
pickle.dump(data, f)
f.close()

In [2]:
!ls

sample_data  test3.txt

In [4]:
!cat test3.txt

��       }�(K�python�K�you need�u.

In [7]:
import pickle
f = open('test3.txt', 'rb')
data = pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [9]:
#os.environ['PATH']명령의 출력 결과는 운영체제가 프로그램이나 실행 파일을 찾기 위해 검색하는 디렉터리들의 리스트
#PATH설정은 시스템이 사용자가 입력하는 명령어를 인식하고 해당 실행 파일을 효율적으로 찾아내도록 도와준다.
import os
os.environ['PATH']

'/opt/bin:/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin'

In [10]:
!ls /   #root

bin			    datalab  kaggle  libx32		       opt   sbin  tools
boot			    dev      lib     media		       proc  srv   usr
content			    etc      lib32   mnt		       root  sys   var
cuda-keyring_1.0-1_all.deb  home     lib64   NGC-DL-CONTAINER-LICENSE  run   tmp

In [11]:
%pwd

'/content'

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#현재 작업폴더
import os
os.getcwd()

'/content'

In [4]:
%pwd

'/content'

In [5]:
!ls

drive  sample_data

In [6]:
!ls /

bin			    datalab  kaggle  libx32		       opt   sbin  tools
boot			    dev      lib     media		       proc  srv   usr
content			    etc      lib32   mnt		       root  sys   var
cuda-keyring_1.0-1_all.deb  home     lib64   NGC-DL-CONTAINER-LICENSE  run   tmp

In [7]:
!cd drive

In [8]:
%pwd

'/content'

In [9]:
!mkdir /content/test

In [10]:
!ls

drive  sample_data  test

In [11]:
!ls -al

total 24
drwxr-xr-x 1 root root 4096 May  9 02:28 .
drwxr-xr-x 1 root root 4096 May  9 02:21 ..
drwxr-xr-x 4 root root 4096 May  2 13:24 .config
drwx------ 6 root root 4096 May  9 02:23 drive
drwxr-xr-x 1 root root 4096 May  2 13:25 sample_data
drwxr-xr-x 2 root root 4096 May  9 02:28 test

In [12]:
#change folder
os.chdir('/content/test')

In [13]:
!pwd

/content/test

In [14]:
os.chdir('/content')

In [15]:
!pwd

/content

In [16]:
os.chdir('/content/test')

In [17]:
!pwd

/content/test

In [18]:
#make empty file
!touch test1.txt

In [19]:
!ls

test1.txt

In [20]:
#file name change
os.rename('test1.txt','test_new.txt')

In [21]:
!ls

test_new.txt

In [22]:
!touch test2.txt

In [23]:
!ls

test2.txt  test_new.txt

In [24]:
#glob()함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환
import glob
glob.glob('/content/test/*.txt')

['/content/test/test2.txt', '/content/test/test_new.txt']

In [25]:
#하위 디렉토리를 포함하여 모든 .txt 파일을 찾는 예제
os.chdir('/content')
txt_files = glob.glob('*/*.txt', recursive=True)
print(txt_files)

['test/test2.txt', 'test/test_new.txt']

In [3]:
with open('mydata.txt','w') as f:
    f.write(
'''
a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again


if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late
''')
with open('mydata.txt', 'r') as f:
    data = f.read()
    print(data)

a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again


if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

In [28]:
words_list = data
words_list = data.replace(',','').replace('.','').replace('\n','').replace("'",'').replace('!','').lower().split()
len(words_list)

178

In [4]:
import re
words_list = data
words_list = re.sub(r'[,.\n\']', '', words_list).lower()
words_list = words_list.split()
print(len(words_list))

178

In [8]:
def inc():
  from IPython.display import Javascript
  display(Javascript('''
  for (rule of document.styleSheets[0].cssRules){
    if (rule.selectorText=='body') {
      rule.style.fontSize = '20px'
      break
    }
  }
  '''))
print("Hello")

Hello

In [31]:
!ls

drive  mydata.txt  sample_data	test

In [32]:
increase_font()
!ls

drive  mydata.txt  sample_data	test

In [36]:
inc()
!ls

drive  mydata.txt  sample_data	test

Q. 주어진 텍스트에서 단어 빈도를 아래와 같이 출력하세요.

 ======================================\
가장 많이 나온 단어 5개를 뽑아 봤습니다.\
[the] -> [8]회 나타남\
[a  ] -> [6]회 나타남\
[on ] -> [5]회 나타남\
[of ] -> [4]회 나타남\
[to ] -> [4]회 나타남

In [6]:
words_set = set(words_list)
print(words_set)
words_freq = {}
for word in words_list:
    if word in words_freq:
        words_freq[word] += 1
    else:
        words_freq[word] = 1
print(words_freq)

#items: {the:5, a:3} ->('the', 5)  key=lambda x : x[1]  튜플로 바껴서 인덱스가 생김

print(sorted(words_freq.items(), key=lambda x : x[1] , reverse=True))
result = sorted(words_freq.items(), key=lambda x : x[1] , reverse=True)
for i in range(min(5, len(result))):
    word, count = result[i]
    print(f'[{word: <3}] -> [{count}]회 나타남')

{'lateuncle', 'another', 'stand', 'hateraise', 'violenceon', 'for', 'from', 'eternal', 'is', 'in', 'startsbut', 'are', 'aparttill', 'and', 'tears', 'to', 'got', 'voice', 'become', 'other', 'never', 'many', 'paradisenow', 'dont', 'of', 'occur', 'misery', 'all', 'betweenand', 'had', 'matter', 'gun', 'by', 'hearts', 'human', 'fearshow', 'sam', 'troops', 'once', 'pest', 'the', 'torment', 'againif', 'choked', 'waytheres', 'flow', 'you', 'sunall', 'up', 'woman', 'whiteyou', 'so', 'earth', 'much', 'butts', 'wont', 'slam', 'be', 'sea', 'waitno', 'on', 'torn', 'warfare', 'lot', 'things', 'his', 'worlds', 'destruction', 'maceso', 'a', 'been', 'russians', 'free', 'this', 'dielacking', 'ill', 'dead', 'ever', 'rightand', 'lightunite!', 'latehow', 'worldturns', 'awayto', 'its', 'into', 'too', 'therewhat', 'same', 'children', 'or', 'despairin', 'look', 'youre', 'food', 'cruelty', 'before', 'our', 'birththey', 'man', 'back', 'late', 'any', 'steal', 'black', 'their', 'with', 'earththen', 'not', 'faceand', 'live', 'commercials', 'screenwith', 'pass', 'will', 'each', 'flyoppressed', 'tame', 'tormentors', 'dayweve', 'want', 'if', 'goneso', 'skiessee', 'rightspush', 'has', 'leave', 'even', 'landits'}
{'a': 6, 'lot': 1, 'of': 4, 'things': 1, 'occur': 1, 'each': 1, 'dayweve': 1, 'got': 1, 'to': 4, 'live': 1, 'with': 1, 'on': 5, 'our': 3, 'waytheres': 1, 'so': 2, 'much': 1, 'misery': 1, 'the': 8, 'screenwith': 1, 'commercials': 1, 'in': 3, 'betweenand': 1, 'russians': 1, 'wont': 1, 'be': 2, 'lateuncle': 1, 'sam': 1, 'dont': 1, 'want': 1, 'waitno': 1, 'matter': 1, 'if': 1, 'youre': 1, 'black': 1, 'or': 1, 'whiteyou': 1, 'never': 1, 'ever': 1, 'had': 1, 'rightand': 1, 'look': 1, 'up': 3, 'eternal': 1, 'skiessee': 1, 'warfare': 1, 'even': 1, 'therewhat': 1, 'once': 1, 'has': 1, 'been': 1, 'paradisenow': 1, 'destruction': 1, 'and': 3, 'despairin': 1, 'other': 1, 'worlds': 1, 'children': 1, 'dielacking': 1, 'food': 1, 'ill': 1, 'from': 1, 'flyoppressed': 1, 'by': 1, 'troops': 1, 'tame': 1, 'their': 1, 'landits': 1, 'all': 1, 'same': 1, 'againif': 1, 'any': 1, 'man': 1, 'is': 1, 'free': 1, 'earththen': 1, 'tormentors': 1, 'steal': 1, 'his': 3, 'birththey': 1, 'slam': 1, 'gun': 1, 'butts': 1, 'faceand': 1, 'leave': 1, 'woman': 1, 'choked': 1, 'maceso': 1, 'stand': 2, 'for': 2, 'human': 2, 'rightspush': 2, 'back': 2, 'this': 2, 'pest': 2, 'hateraise': 2, 'you': 2, 'voice': 2, 'pass': 2, 'lightunite!': 2, 'its': 2, 'not': 2, 'too': 2, 'latehow': 1, 'many': 2, 'tears': 1, 'flow': 1, 'awayto': 1, 'become': 1, 'sea': 1, 'fearshow': 1, 'hearts': 1, 'are': 1, 'torn': 1, 'aparttill': 1, 'another': 1, 'torment': 1, 'startsbut': 1, 'before': 1, 'worldturns': 1, 'into': 1, 'sunall': 1, 'cruelty': 1, 'violenceon': 1, 'earth': 1, 'will': 1, 'dead': 1, 'goneso': 1, 'late': 1}
[('the', 8), ('a', 6), ('on', 5), ('of', 4), ('to', 4), ('our', 3), ('in', 3), ('up', 3), ('and', 3), ('his', 3), ('so', 2), ('be', 2), ('stand', 2), ('for', 2), ('human', 2), ('rightspush', 2), ('back', 2), ('this', 2), ('pest', 2), ('hateraise', 2), ('you', 2), ('voice', 2), ('pass', 2), ('lightunite!', 2), ('its', 2), ('not', 2), ('too', 2), ('many', 2), ('lot', 1), ('things', 1), ('occur', 1), ('each', 1), ('dayweve', 1), ('got', 1), ('live', 1), ('with', 1), ('waytheres', 1), ('much', 1), ('misery', 1), ('screenwith', 1), ('commercials', 1), ('betweenand', 1), ('russians', 1), ('wont', 1), ('lateuncle', 1), ('sam', 1), ('dont', 1), ('want', 1), ('waitno', 1), ('matter', 1), ('if', 1), ('youre', 1), ('black', 1), ('or', 1), ('whiteyou', 1), ('never', 1), ('ever', 1), ('had', 1), ('rightand', 1), ('look', 1), ('eternal', 1), ('skiessee', 1), ('warfare', 1), ('even', 1), ('therewhat', 1), ('once', 1), ('has', 1), ('been', 1), ('paradisenow', 1), ('destruction', 1), ('despairin', 1), ('other', 1), ('worlds', 1), ('children', 1), ('dielacking', 1), ('food', 1), ('ill', 1), ('from', 1), ('flyoppressed', 1), ('by', 1), ('troops', 1), ('tame', 1), ('their', 1), ('landits', 1), ('all', 1), ('same', 1), ('againif', 1), ('any', 1), ('man', 1), ('is', 1), ('free', 1), ('earththen', 1), ('tormentors', 1), ('steal', 1), ('birththey', 1), ('slam', 1), ('gun', 1), ('butts', 1), ('faceand', 1), ('leave', 1), ('woman', 1), ('choked', 1), ('maceso', 1), ('latehow', 1), ('tears', 1), ('flow', 1), ('awayto', 1), ('become', 1), ('sea', 1), ('fearshow', 1), ('hearts', 1), ('are', 1), ('torn', 1), ('aparttill', 1), ('another', 1), ('torment', 1), ('startsbut', 1), ('before', 1), ('worldturns', 1), ('into', 1), ('sunall', 1), ('cruelty', 1), ('violenceon', 1), ('earth', 1), ('will', 1), ('dead', 1), ('goneso', 1), ('late', 1)]
[the] -> [8]회 나타남
[a  ] -> [6]회 나타남
[on ] -> [5]회 나타남
[of ] -> [4]회 나타남
[to ] -> [4]회 나타남

In [23]:
inc()
name = "John"
age = 23
balance = 1234.567
#문자열 정렬
formatted_string = f"{name:<10} is {age:>3} years old."
print(formatted_string)

#숫자 정밀도 및 포맷
formatted_number = f"{balance:.2f}" #반올림
print(formatted_number)
formatted_number = f"{balance:>10.2f}" #전체 10자리 왼쪽으로 붙이기
print(formatted_number)
formatted_number = f"{balance:<20.5f}" #전체 20자리 왼쪽으로 붙이기
print(formatted_number)
formatted_number = f"{balance:>20.5f}" #소수점 5개 나머지 숫자는 0으로 채워짐
print(formatted_number)
formatted_number = f"{balance:>020.5f}" #앞에 0으로 채워지고 소수점 5개 나머지 숫자는 0으로 채워짐
print(formatted_number)

#숫자 자리수 채우기
formatted_number_padded = f"{age:05}"
print(formatted_number_padded)
formatted_number_padded = f"{age:5}"
print(formatted_number_padded)
formatted_number_padded = f"{age:010}"
print(formatted_number_padded)

John       is  23 years old.
1234.57
   1234.57
1234.56700
          1234.56700
00000000001234.56700
00023
   23
0000000023

외부 라이브러리 연습

In [25]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [29]:
inc()
titanic.survived.valued_count()

AttributeError: 'Series' object has no attribute 'valued_count'

In [31]:
import numpy as np

ar = np.arange(200, 301)
print(ar, type(ar))

[200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217
 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235
 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253
 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271
 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289
 290 291 292 293 294 295 296 297 298 299 300] <class 'numpy.ndarray'>

In [34]:
np.arange(200, 300)

array([200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299])

In [33]:
#가변적인 인자값
def sum(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

sum(200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300)

25250

In [36]:
def sum(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

sum(200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244)

9990

In [37]:
sum = lambda a, b : a+b
sum(3,4)

7

In [38]:
def sum(a,b):
    return a+b
print(sum(3,4))

7

In [39]:
myList = [lambda a, b:a+b, lambda a,b:a*b, lambda a,b:a/b, lambda a,b:a-b]

for i in range(len(myList)):
    print(myList[i](4,3))

7
12
1.3333333333333333
1

사용자함수

In [40]:
#반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!. 10!를 구하세요.
import math
def cal_factorial(x):
    y = range(1, x+1)
    return math.prod(y)

print(cal_factorial(5))
print(cal_factorial(10))

120
3628800

In [41]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

print(factorial(5))
print(factorial(10))

120
3628800

In [43]:
def add_number(n1, n2):
    ret = n1 + n2
    return ret

def add_text(t1, t2):
    print(t1+t2)

ans1 = add_number(10, 15)
print(ans1)
text1 = '대한민국'
text2 = '만세!!'
add_text(text1, text2)

25
대한민국만세!!

In [44]:
#함수인자: 기본적으로 인자 순서에 대응되는 값을 함수 코드에 대입
def add_txt(t1, t2='파이썬'):
    print(t1 +' : '+ t2)

add_txt('best')
add_txt(t2='korea', t1='1st')

best : 파이썬
1st : korea

In [46]:
inc()
def func1(*args): # 인자의 개수가 불명확한 경우 가변인자 사용, args는 함수 내부에서 튜플로 처리
    print(args)

def func2(width, height, **kwargs): #키워드 인자가 불명확한 경우 **kwargs를 사용, 함수 내부에서 사전으로 처리
    print(kwargs)

func1()
func1(2,3,6,7,2)
func2(10, 20)
func2(10, 20, depth=50, color='blue')

()
(2, 3, 6, 7, 2)
{}
{'depth': 50, 'color': 'blue'}

In [47]:
inc()
def func2(width, height, **kwargs):
    return width, height, kwargs

func2(10, 20, depth=50, color='blue')

(10, 20, {'depth': 50, 'color': 'blue'})

In [48]:
inc()
#가변적인 인풋
list1 = []

def listchng(*args):
    for i in args:
        i = float(i)
        list1.append(i)
    return list1

listchng(1,2,3,4,5,6)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

함수 유형
- 입력 인자와 리턴값 여부에 따른 함수 유형

In [49]:
inc()
#입력값이 없고 결과값만 있는 함수
def say():
    return 'HI'

a = say()
print(a)

HI

In [51]:
inc()
#입력값은 있고 결과값이 없는 함수
#결과값은 오직 return명령어로만 돌려 받을 수 있음
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a,b,a+b))

a= add(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [53]:
inc()
#입력값도 결과값도 없는 함수
def say():
    print('Hi')

a = say()
print(a)

Hi
None

In [54]:
inc()
#입력값, 결과값이 모두 있는 함수
def add(a,b):
    return a+b
a = add(3,4)
print(a)

7

In [55]:
inc()
#입력값, 결과값이 모두 있는 함수
def max(a,b,c):
    if a>b:
        if a>c:
            return a
        elif a<c:
            return c
    if a<b:
        if b>c:
            return b
        else:
            return c

print("max number is %d"%(max(20,1,30)))
max(10,20,30)

max number is 30

30

In [59]:
inc()
def math(x, y, z):
    if z == '*':
        return x * y
    elif z == '/':
        return x / y
    elif z == '+':
        return x + y
    elif z == '%':
        return x % y
    elif z == '^':
        return x ^ y
    elif z == '-':
        return x - y
    elif z == '//':
        return x // y
    else:
        return

print(math(int(input("숫자1 : ")), int(input("숫자2 : ")), input('기호 : ')))

숫자1 : 5
숫자2 : 2
기호 : *
10

In [60]:
inc()
#함수의 반환값은 언제나 하나임 - 결과값으로 튜플값 하나를 갖게 됨

def add_and_mul(a,b):
    return a+b, a*b
result = add_and_mul(3,5)
print(result)

(8, 15)

#### 지역변수와 전역변수
- 지역변수는 함수 내부에서만 유효하고
- 전역변수는 코드 전반에 걸쳐 유효
- 함수의 인자는 지역변수

In [61]:
inc()

strdata = '전역변수'

def func1():
    strdata = '지역변수'
    print(strdata)

func1()

지역변수

In [62]:
inc()
print(strdata)

전역변수

In [63]:
inc()

param = 10
def func2(param):
    param = 1

print(param)

10

In [64]:
inc()

param = 10
def func3():
    global param        #함수 내부에서 전역변수를 사용하려면 global키워드를 이용해 전역변수를 사용한다고 명시
    param = 50
func3()
print(param)

50

In [ ]:
inc()